<div class="modal-header">请填写拒绝理由</div>
<div class="modal-content">
  <div class="card search-form">
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <textarea name="" id="" cols="70" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="pager">
        <div></div>
        <div>
          <button type="button" class="btn btn-success"> <i class="fa fa-check-square"></i>确定</button>
          <button type="button" class="btn btn-info ml-3"> <i class="fa fa-remove"></i> 取消</button>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer"></div>