<div class="main-menu-img mb-2">
    <ul>
        <li><a (click)="changeStatus($event)" value="0" href="javascript:void(0);">承認待ち <span class="cnt">9件</span></a></li>
    </ul>
    <ul>
        <li><a (click)="changeStatus($event)" value="1" href="javascript:void(0);">差戻 <span class="cnt">2件</span></a></li>
    </ul>
    <ul>
        <li><a (click)="changeStatus($event)" value="2" href="javascript:void(0);">依頼中</a></li>
    </ul>
    <ul>
        <li><a (click)="changeStatus($event)" value="3" href="javascript:void(0);">完了</a></li>
    </ul>
</div>
<tabset>
    <tab heading="個別承認" (select)="changeTabContent()">
        <div class="search-form pt-0 pl-0 pr-0">
            <div class="card">
                <div class="card-title">
                    <div class="text-area">検索条件</div>
                </div>
                <div class="card-body" [@openClose]="searchFormOpend ? 'open' : 'closed'">
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">申請日</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type='text' class="form-control width120" appDatetimePicker />
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-text-none">~</span>
                                </div>
                                <input type='text' class="form-control width120" appDatetimePicker />
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group width8p font-weight-bold">業務区分</div>
                        <div class="form-group width30p">
                            <select name="" class="form-control width120" id="">
                                <option value="">物販</option>
                                <option value="">見積・契約</option>
                                <option value="">マスター</option>
                                <option value="">汎用計上</option>
                            </select>
                            <div class="form-group width130 font-weight-bold justify-content-center">承認区分</div>
                            <div class="form-group">
                                <select name="" class="form-control width120" id="">
                                    <option value="">特価申請</option>
                                    <option value="">値引き</option>
                                    <option value="">見積申請</option>
                                    <option value="">契約申請</option>
                                    <option value="">売上・原価変更申請</option>
                                    <option value="">解約申請</option>
                                    <option value="">減額申請</option>
                                    <option value="">代行店変更申請</option>
                                    <option value="">紹介元変更申請</option>
                                    <option value="">契約書未回収売上申請</option>
                                    <option value="">注文書未回収売上申請</option>
                                    <option value="">物品登録申請</option>
                                    <option value="">与信取得申請</option>
                                    <option value="">棚卸結果申請</option>
                                    <option value="">セミナー売上申請</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group  width7p font-weight-bold">ステータス</div>
                        <div class="form-group width8p">
                            <select name="" class="form-control" id="chooseStatus" [ngModel]="status" name="status">
                                <option value="0">承認待ち</option>
                                <option value="1">差戻</option>
                                <option value="2">依頼中</option>
                                <option value="3">完了</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">取引先</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××株式会社</div>
                        </div>

                        <div class="form-group width8p font-weight-bold">申請部門</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××営業所</div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-control custom-checkbox  custom-control-inline">
                                    <input class="custom-control-input" type="checkbox" name="CEOrdersKbn" id="CEOrdersKbn1">
                                    <label class="custom-control-label" for="CEOrdersKbn1">スキップ・予約対象も表示する</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">申請者</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××商事</div>
                        </div>

                        <div class="form-group width8p font-weight-bold">担当者</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××太郎
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-control custom-checkbox  custom-control-inline">
                                    <input class="custom-control-input" type="checkbox" name="CEOrdersKbn" id="CEOrdersKbn2">
                                    <label class="custom-control-label" for="CEOrdersKbn2">副管理者権限を有効化
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area pr-2">
                <button type="button" class="btn btn-primary" (click)="searchData()">
                    <i class="fa fa-search"></i> 検索
                </button>
                <button type="button" class="btn btn-warning">
                    <i class="fa fa-eraser"></i> クリア
                </button>
                <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
                    <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
                </button>
            </div>
        </div>
    </tab>
    <tab heading="一括承認" (select)="changeTabContent()">
        <div class="search-form pt-0 pl-0 pr-0">
            <div class="card">
                <div class="card-title">
                    <div class="text-area">検索条件</div>
                </div>
                <div class="card-body" [@openClose]="searchFormOpend ? 'open' : 'closed'">
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">申請日</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type='text' class="form-control width120" appDatetimePicker />
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-text-none">~</span>
                                </div>
                                <input type='text' class="form-control width120" appDatetimePicker />
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group width8p font-weight-bold">業務区分</div>
                        <div class="form-group width30p">
                            <select name="" class="form-control width120" id="">
                                <option value="">物販</option>
                                <option value="">見積・契約</option>
                                <option value="">マスター</option>
                                <option value="">汎用計上</option>
                            </select>
                            <div class="form-group width130 font-weight-bold justify-content-center">承認区分</div>
                            <div class="form-group">
                                <select name="" class="form-control width120" id="">
                                    <option value="">特価申請</option>
                                    <option value="">値引き</option>
                                    <option value="">見積申請</option>
                                    <option value="">契約申請</option>
                                    <option value="">売上・原価変更申請</option>
                                    <option value="">解約申請</option>
                                    <option value="">減額申請</option>
                                    <option value="">代行店変更申請</option>
                                    <option value="">紹介元変更申請</option>
                                    <option value="">契約書未回収売上申請</option>
                                    <option value="">注文書未回収売上申請</option>
                                    <option value="">物品登録申請</option>
                                    <option value="">与信取得申請</option>
                                    <option value="">棚卸結果申請</option>
                                    <option value="">セミナー売上申請</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group  width7p font-weight-bold">ステータス</div>
                        <div class="form-group width8p">
                            <input type="text" class="form-control width130" value="承認待ち" disabled>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">取引先</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××株式会社</div>
                        </div>

                        <div class="form-group width8p font-weight-bold">申請部門</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××営業所</div>
                        </div>

                    </div>
                    <div class="form-inline">
                        <div class="form-group width7p font-weight-bold">申請者</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××商事</div>
                        </div>

                        <div class="form-group width8p font-weight-bold">担当者</div>
                        <div class="form-group width30p">
                            <div class="input-group">
                                <input type="text" class="form-control width130">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ml-10">×××太郎
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-control custom-checkbox  custom-control-inline">
                                    <input class="custom-control-input" type="checkbox" name="CEOrdersKbn" id="CEOrdersKbn2">
                                    <label class="custom-control-label" for="CEOrdersKbn2">副管理者権限を有効化
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="btn-area pr-2">
                <button type="button" class="btn btn-primary" (click)="searchData()">
                    <i class="fa fa-search"></i> 検索
                </button>
                <button type="button" class="btn btn-warning">
                    <i class="fa fa-eraser"></i> クリア
                </button>
                <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
                    <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
                </button>
            </div>
        </div>
    </tab>
</tabset>
<div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
    <div class="pager">
        <div>
            <button appModal [config]="AP010D02ModalConfig" [data]="AP010D02ModalData" (done)="done($event)" *ngIf="tabContentArea"
                type="button" class="btn btn-orengered">
                <i class="fa fa-check-circle"></i> 承認
            </button>
        </div>
        <app-pagination [paginationApi]="paginationApi"></app-pagination>
    </div>
    <ag-grid-angular 
    #agGrid 
    [enableColResize]="true" 
    class="ag-theme-balham" 
    [gridOptions]="gridOptions" 
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)" 
    [pagination]="true"
    [paginationPageSize]="25" 
    [localeText]="localeText"
    [enableFilter]="true" 
    [suppressPaginationPanel]="true" 
    [enableRangeSelection]="true">
    </ag-grid-angular>
    <div class="pager">
        <div>
            <button appModal [config]="AP010D02ModalConfig" [data]="AP010D02ModalData" (done)="done($event)" *ngIf="tabContentArea"
                type="button" class="btn btn-orengered">
                <i class="fa fa-check-circle"></i> 承認
            </button>
        </div>
        <app-pagination [paginationApi]="paginationApi"></app-pagination>
    </div>
</div>