.width100{
 width: 8rem
}
.app-table {
    border: none;
    tbody {
        tr {
            border-top: none;
            &:nth-child(2n) {
                background-color: transparent;
              }
            td:not(:first-child) {
                border-left: none;
            }
        }
    }
}