<div class="content">
<div class="card">
 <div class="card-body">
            <button type="button" class="btn btn-info">
              <i class="fa fa-save"></i> ヘッダーのみ反映
            </button>
            <button type="button" class="btn btn-info">
              <i class="fa fa-save"></i> 明細を反映
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-plus"></i> 行追加
              </button>
          <ag-grid-angular 
          #agGrid 
          [enableColResize]="true" 
          class="ag-theme-balham ag-grid-height-400 mt-1" 
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          [localeText]="localeText"
          [suppressPaginationPanel]="true"
          [enableRangeSelection]="true"
          >
          </ag-grid-angular>
      <div class="mt-10">
          <div class="form-inline">
              <div class="width5p font-weight-bold align-self-start">備考</div>
              <div class="form-group width30p">
                <div class="input-group ">
                  <textarea class="width480"></textarea>
                </div>
              </div>
            </div>
      </div>
      <div class="mt-10">
      <div class="form-inline">
        <button type="button" class="btn btn-success">
                  <img src="./assets/images/icon/download.png" /> 見積書出力
                  (サンプル)        
        </button>
        <div class="form-group ml-10">
            <div class="input-group">
              <div class="custom-control custom-radio  custom-control-inline">
                <input class="custom-control-input" type="radio" name="CEOrdersKbn" id="CEOrdersKbn1">
                <label class="custom-control-label" for="CEOrdersKbn1">印影有</label>
              </div>
              <div class="custom-control custom-radio  custom-control-inline">
                <input class="custom-control-input" type="radio" name="CEOrdersKbn" id="CEOrdersKbn2">
                <label class="custom-control-label" for="CEOrdersKbn2">印影無</label>
              </div>
            </div>
          </div>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> 見積書出力
        </button>
    </div>
    </div>
  </div> 
</div>
</div>

