<div class="card">
  <div class="card-title">结束订单</div>
  <div class="card-body">
    <form class="search-form" action="">
      <div class="form-inline">
        <div class="form-group width10 font-weight-bold">请填写订单号</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width15">
            <div class="input-group-prepend ml-5">
              <button type="button" class="btn btn-warning">
                <i class="fa fa-hand-stop-o"></i> 结束
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>