<div class="btn-toolbar justify-content-between">
  <div>
    <button type="button" class="btn btn-danger">
      <i class="fa fa-mail-reply"></i> 引戻
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-orengered">
      <i class="fa fa-check-circle"></i> 申請
    </button>
  </div>
</div>
<div class="search-form">
  <div class="form-inline">
    <div class="form-group width6p font-weight-bold">契約</div>
    <div class="form-group width22p">
      <div class="mr-10">12345678-01</div>
      <div class="input-group">
        <input type="text" class="form-control width130" value="総合衛生管理" />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">商品区分</div>
    <div class="form-group width15p">
      <div class="input-group">
        <input
          type="text"
          value="年契－管理契約"
          class="form-control width130"
        />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">受注年月日</div>
    <div class="form-group  width23p">
      <div class="input-group">
        <input type="text" class="form-control width120" appDatetimePicker />
        <span class="input-group-prepend">
          <span class="input-group-text">
            <span class="fa fa-calendar"></span>
          </span>
        </span>
        <div class="input-group-prepend">
          <span class="input-group-text input-group-text-none">~</span>
        </div>
        <input type="text" class="form-control width120" appDatetimePicker />
        <span class="input-group-prepend">
          <span class="input-group-text">
            <span class="fa fa-calendar"></span>
          </span>
        </span>
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">承認状況</div>
    <div class="form-group width16p">
      <div class="input-group">
        <input type="text" value="承認待ち" class="form-control width130" />
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width6p font-weight-bold">施工先</div>
    <div class="form-group width22p">
      <div class="input-group">
        <input
          type="text"
          value="○○食品株式会社　横浜工場"
          class="form-control width130"
        />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">請求先</div>
    <div class="form-group width15p">
      <div class="input-group">
        <input
          type="text"
          value="○○食品株式会社　横浜工場　加食ライン"
          class="form-control width130"
        />
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width6p font-weight-bold">事業部</div>
    <div class="form-group width22p">
      <div class="input-group">
        <input type="text" value="関東支店" class="form-control width130" />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">部門</div>
    <div class="form-group width15p">
      <div class="input-group">
        <input type="text" value="横浜営業所" class="form-control width130" />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">ESCO担当者</div>
    <div class="form-group width23p">
      <div class="input-group">
        <input type="text" value="エスコ　一郎" class="form-control width130" />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">実務担当者</div>
    <div class="form-group width15p">
      <div class="input-group">
        <input type="text" value="エスコ　二郎" class="form-control width130" />
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width6p font-weight-bold">契約金額</div>
    <div class="form-group width22p">
      <div class="input-group">
        <input type="text" value="￥1,200,000" class="form-control width130" />
      </div>
    </div>
    <div class="form-group width6p font-weight-bold">原価金額</div>
    <div class="form-group width15p">
      <div class="input-group">
        <input type="text" value="￥180,000" class="form-control width130" />
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="font-weight-bold align-self-start width6p ">解約理由</div>
    <div class="form-group">
      <div class="input-group"><textarea cols="150" rows="2"></textarea></div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width6p font-weight-bold">契約有効開始</div>
    <div class="form-group width10p">
      <div class="input-group">
        <input type="text" class="form-control width120" appDatetimePicker />
      </div>
    </div>
    <button type="button" class="btn btn-orengered">
      <i class="fa fa-check-circle"></i> 解約計算
    </button>
  </div>
</div>
<div>
    <ag-grid-angular 
    #agGrid 
    [enableColResize]="true" 
    class="ag-theme-balham ag-grid-height-400" 
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [localeText]="localeText"
    [enableFilter]="true"
    [enableSorting]="true"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [suppressPaginationPanel]="true"
    [enableRangeSelection]="true"
    >
    </ag-grid-angular>
</div>
<div>
    <ag-grid-angular 
    #agGrid 
    [enableColResize]="true" 
    class="ag-theme-balham ag-grid-height-400" 
    [gridOptions]="OneCostgridOptions"
    (gridReady)="onGridReady($event)"
    [localeText]="localeText"
    [enableFilter]="true"
    [enableSorting]="true"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [suppressPaginationPanel]="true"
    [enableRangeSelection]="true"
    >
    </ag-grid-angular>
</div>
