<div class="search-form">
  <div class="card" [@openClose]="searchFormOpend ? 'open' : 'closed'">
    <form [formGroup]="form">
      <div class="form-inline">
        <div class="font-weight-bold width7p">作業大分類</div>
        <div class="form-group">
          <div class="input-group">
            <select
              class="width9p"
              formControlName="WorkMajorClassificationId"
              appValidate
              [validateFormControl]="form.get('WorkMajorClassificationId')"
            >
              <option value="1">調査</option>
              <option value="">調査</option>
              <option value="">調査</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="font-weight-bold width7p">作業分類</div>
        <div class="form-group">
          <div class="input-group">
            <select
              class="width9p"
              formControlName="WorkClassificationId"
              appValidate
              [validateFormControl]="form.get('WorkClassificationId')"
            >
              <option value="1">目視調査・確認</option>
              <option value="">目視調査・確認</option>
              <option value="">目視調査・確認</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn-area">
    <button type="button" class="btn btn-primary" (click)="searchData()">
      <i class="fa fa-search"></i> 検索
    </button>
    <button type="button" class="btn btn-warning" (click)="clearSelect()">
      <i class="fa fa-eraser"></i> クリア
    </button>
    <button type="button" class="btn btn-success" title="ダウンロード">
      <img src="./assets/images/icon/download.png" />
    </button>
    <button
      type="button"
      class="btn btn btn-secondary"
      (click)="changeSearchForm()"
    >
      <i
        class="fa"
        [class.fa-angle-up]="searchFormOpend"
        [class.fa-angle-down]="!searchFormOpend"
      ></i>
    </button>
  </div>
</div>
  <div class="pager">
    <div>
      <button type="button" class="btn btn-info" (click)="insert()">
        <i class="fa fa-plus"></i> 新規登録
      </button>
      <button type="button" class="btn btn-warning" (click)="delete()">
        <i class="fa fa-remove"></i> 削除
      </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>

  <ag-grid-angular
    #agGrid
    [enableColResize]="true"
    class="ag-theme-balham ag-grid-height-400"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]="25"
    [localeText]="localeText"
    [enableFilter]="true"
    [enableSorting]="true"
    [suppressPaginationPanel]="true"
    [enableRangeSelection]="true"
  >
  </ag-grid-angular>

  <div class="pager">
    <div>
      <button type="button" class="btn btn-info" (click)="insert()">
        <i class="fa fa-plus"></i> 新規登録
      </button>
      <button type="button" class="btn btn-warning" (click)="delete()">
        <i class="fa fa-remove"></i> 削除
      </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
