<form class="search-form">
    <div class="col-3 m-auto justify-contnet-center">
        <div class="form-inline">
            <label for="userName" class="width130">用户名</label>
            <input type="text" class="form-control" id="userName" aria-describedby="用户名" placeholder="用户名">
        </div>
        <div class="form-inline">
            <label for="password" class="width130">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码">
        </div>
        <div class="pager justify-content-around mt-2">
            <div>
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </div>
    </div>
</form>