<div class="card">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
        <h3>工单</h3>
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">总量</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">进行中</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">待验收</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">已完成</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">等待处置</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">客服介入</p><span class="text-primary">10</span>
                </a>
            </div>
        </div>
        <h3>用户</h3>
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">用户</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">总量</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">实名认证请求</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">帮助请求</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">意见反馈</p><span class="text-primary">10</span>
                </a>
                <a href="#" class="width120 pt-3 pb-3 mr-3 text-center border border-secondary">
                    <p class="text-dark">客服介入</p><span class="text-primary">10</span>
                </a>
            </div>
        </div>
    </div>
</div>