<form [formGroup]="form" class="search-form">
  <div class="card" [@openClose]="searchFormOpend ? 'open' : 'closed'">
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">成分コード</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" value="">
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-none">+</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control width130" value="">
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">成分名</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130">
            <div class="ml-10">を含む</div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">CAS番号</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" value="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-area pr-2 pt-2">
    <button type="button" class="btn btn-primary" (click)="searchData()">
      <i class="fa fa-search"></i> 検索
    </button>
    <button type="button" class="btn btn-warning">
      <i class="fa fa-eraser"></i> クリア
    </button>
    <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
      <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
    </button>
  </div>
</form>

<div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
  <div class="pager">
    <div></div>
  </div>
  <ag-grid-angular 
  #agGrid 
  [enableColResize]="true" 
  class="ag-theme-balham" 
  [gridOptions]="gridOptions" 
  (gridReady)="onGridReady($event)"
  [pagination]="true" 
  [paginationPageSize]="25" 
  [localeText]="localeText" 
  [rowSelection]="rowSelection"
  [enableFilter]="true" 
  [suppressPaginationPanel]="true" 
  [enableRangeSelection]="true">
  </ag-grid-angular>
  <div class="pager">
    <div></div>
  </div>
</div>