.index-link{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;

    .fa{
        width:24px;
        font-size: 16px;
        padding-right:4px;
    }
}
.index-link:hover{
    text-decoration: none;
}