<div class="card">
  <img class="card-img-top" src="" alt="">
  <div class="card-body">
    <div class="card">
      <div class="card-title">工单信息概览</div>
      <div class="card-body">
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-bar-chart"></i>总量</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-paperclip"></i>进行中</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-columns"></i>待验收</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-check"></i>已完成</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-ellipsis-h"></i>等待处理</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-id-card-o"></i>客服介入</p><span class="text-primary">10</span>
        </a>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-title">用户信息概览</div>
      <div class="card-body">
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-bar-chart"></i>总量</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-plus-square"></i>今日新增</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-address-card"></i>实名认证请求</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-hand-o-right"></i>帮助请求</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-commenting-o"></i>意见反馈</p><span class="text-primary">10</span>
        </a>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-title">雇工信息概览</div>
      <div class="card-body">
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-bar-chart"></i>总量</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-spinner"></i>待处理认证</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-address-card"></i>资质认证(证件)</p><span class="text-primary">10</span>
        </a>
        <a href="#" class="index-link">
          <p class="width13 mb-0 text-dark"><i class="fa fa-hand-o-right"></i>帮助请求</p><span class="text-primary">10</span>
        </a>
      </div>
    </div>
  </div>
</div>