.width10p{
    width: 10rem;
}
.width13p{
    width: 13rem;
}
.width7r{
    width:7rem;
}
.width8r{
    width:8rem;
}
.width20p{
    width: 20rem;
}
.width25p{
    width: 25rem;
}
.width4p{
    width: 4rem;
}
.width14p{
    width: 14rem;
}