<form class="card search-form">
  <div class="card-title">系统用户列表</div>
  <div class="card-body" [@openClose]="searchFormOpend ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7 font-weight-bold">姓名</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group width7 font-weight-bold">账号</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group width7 font-weight-bold">部门</div>
      <div class="form-group width20p">
        <div class="input-group">
          <input type="text" class="form-control width130">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="form-inline">
      <div class="form-group width7 font-weight-bold">注册时间</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type='text' class="form-control width10" appDatetimePicker />
          <span class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </span>
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-none">~</span>
          </div>
          <input type='text' class="form-control width10" appDatetimePicker />
          <span class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group width7 font-weight-bold">角色</div>
      <div class="form-group width20p">
        <select name="" class="form-control width13" id="">
          <option value="">管理员</option>
          <option value="">普通用户</option>
        </select>
      </div>
    </div>

    <div class="pager m-1">
      <div></div>
      <div class="btn-area">
        <button type="button" class="btn btn-primary" (click)="searchData()">
          <i class="fa fa-search"></i> 查询
        </button>
        <button type="button" class="btn btn-warning">
          <i class="fa fa-eraser"></i> 清除
        </button>
        <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
          <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
        </button>
      </div>
    </div>
  </div>
</form>
<div class="list">
  <div class="pager mb-1">
    <div>
      <button appModal [config]="userInfoModalConfig" type="button" class="btn btn-info">
        <i class="fa fa-plus"></i> 新增
      </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
  <ag-grid-angular #agGrid [enableColResize]="true" class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    [pagination]="true" [paginationPageSize]="25" [localeText]="localeText" [enableFilter]="true"
    [suppressPaginationPanel]="true" [enableRangeSelection]="true">
  </ag-grid-angular>
  <div class="pager">
    <div>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
</div>