<form [formGroup]="form" class="search-form">
  <div class="content">
    <!--  -->
      <div class="list" >
        <div class="pager">
          <div>
              <button type="button" class="btn btn-warning">
                  <i class="fa fa-remove"></i> 削除
                </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-mail-reply"></i> 引戻
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-times-circle"></i> 否認
              </button>
          </div>
          <div>
              <button type="button" class="btn btn-orengered">
                  <i class="fa fa-check-circle"></i> 承認
                </button>
                <button type="button" class="btn btn-orengered">
                    <i class="fa fa-mail-forward"></i> 承認依頼
                  </button>
                <button type="button" class="btn btn-info">
                    <i class="fa fa-save"></i> 更新
                  </button>
                  <button type="button" class="btn btn-info">
                      <i class="fa fa-save"></i> 登録
                    </button>
              <button type="button" class="btn btn-success">
                <img src="./assets/images/icon/download.png" /> 下書き保存
              </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          <div class="text-area">見積・契約情報</div>
          <div class="btn-area">        
            <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
              <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
            </button>
          </div>
        </div>
        <div class="card-body" [@openClose]="infoAreaOpend ? 'open' : 'closed'">
          <div class="form-inline">
            <div class="form-group width7p font-weight-bold" *ngIf="this.form.value.ShouhinKbn=='4'">(見積)契約名称</div>
            <div class="form-group width7p font-weight-bold" *ngIf="this.form.value.ShouhinKbn!='4'">契約名称</div>
            
            <div class="form-group width23p">
              <input type="text" value="12345678ー12" class="form-control width100" disabled>
              <div class="input-group">
                <input type="text" class="form-control width130" value="各所補修工事" />
              </div>
            </div>

            <div class="form-group width7p font-weight-bold">商品区分</div>
            <div class="form-group width11p">
              <div class=" form-group">
                <select formControlName="ShouhinKbn" (change)="onShouhinKbnChange($event)">
                    <option *ngFor="let item of shouhinKbnList" value="{{item.ShouhinKbn}}">{{item.ShouhinKbnNm}}</option>
                </select>
              </div>
            </div>

            <div class="width6p font-weight-bold">契約型</div>
            <div class="form-group width13p">
              <div class="input-group" *ngIf="this.form.value.ShouhinKbn!='4'">
                  <select>
                      <option>THC-総合衛生管理</option>
                      <option>THC-総合衛生管理</option>
                      <option>THC-総合衛生管理</option>
                      <option>THC-総合衛生管理</option>
                    </select>
              </div>
              <div class="input-group" *ngIf="this.form.value.ShouhinKbn=='4'">
                <input type="text" class="form-control width100" value="塗装工事" />
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group width5p font-weight-bold" *ngIf="this.form.value.ShouhinKbn!='4'">契約期間</div>
            <div class="form-group width5p font-weight-bold" *ngIf="this.form.value.ShouhinKbn=='4'">工期</div>
            <div class="form-group width23p">
              <div class="input-group">
                <input type='text' class="form-control width90" appDatetimePicker />
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-calendar"></span>
                  </span>
                </span>
                <div class="input-group-prepend">
                  <span class="input-group-text input-group-text-none">~</span>
                </div>
                <input type='text' class="form-control width90" appDatetimePicker />
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-calendar"></span>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <!-- <div class="form-group width6p font-weight-bold">ESCO担当者</div>
          <div class="form-group width10p">
            <div class="input-group">
              <input type="text" value="技術　太郎" class="form-control width70" disabled>
              <div class="input-group-prepend">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div> -->

          <div class="form-inline">
            <div class="form-group width7p font-weight-bold">施工先</div>
            <div class="form-group width23p">
              <input type="text" value="87654321" class="form-control width70" disabled>
              <div class="input-group-prepend">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="ml-10">〇〇〇食品株式会社　横浜工場</div>
            </div>

            <div class="form-group width18p font-weight-bold"><a href="#">与信情報</a></div>
            <div class="form-group width6p font-weight-bold">施工先担当者</div>
            <div class="form-group width13p">
              <div class="input-group ">
              <input type="text" class="form-control width120" value="食品　太郎"/>
              </div>
            </div>

            <div class="form-group width5p" *ngIf="this.form.value.ShouhinKbn=='4'">
              <div class="input-group">
                <div class="custom-control custom-radio  custom-control-inline">
                  <input class="custom-control-input" type="radio" name="CEOrdersKbn" id="CEOrdersKbn3">
                  <label class="custom-control-label" for="CEOrdersKbn3">元請</label>
                </div>
              </div>
            </div>
            <div class="form-group width7p" *ngIf="this.form.value.ShouhinKbn=='4'">
              <div class="input-group">
                <div class="custom-control custom-radio  custom-control-inline">
                  <input class="custom-control-input" type="radio" name="CEOrdersKbn" id="CEOrdersKbn4">
                  <label class="custom-control-label" for="CEOrdersKbn4">下請</label>
                </div>
              </div>
            </div>


            <div class="form-group width5p font-weight-bold">受注状況</div>
            <div class="input-group width5p">
            <select *ngIf="this.form.value.ShouhinKbn!='4'">
              <option>失注</option>
              <option>失注</option>
              <option>失注</option>
            </select>
            <input type="text" value="失注" class="form-control " disabled *ngIf="this.form.value.ShouhinKbn=='4'">
            </div>
          </div>
          <div class="form-inline position-relative">

            <div class="form-group width7p font-weight-bold">支店</div>
            <div class="form-group width8p">
              <input type="text" value="×××営業所" class="form-control width70" disabled>
            </div>

            <div class="form-group width7p font-weight-bold">デポ</div>
            <div class="form-group width8p">
              <div class="input-group">
                  <select *ngIf="this.form.value.ShouhinKbn!='4'">
                    <option>東京営業所</option>
                    <option>東京営業所</option>
                    <option>東京営業所</option>
                  </select>
                  <input type="text" value="東京営業所" class="form-control width70" disabled *ngIf="this.form.value.ShouhinKbn=='4'">
              </div>
            </div>

            <div class="form-group width7p font-weight-bold">チーム</div>
            <div class="form-group width11p">
                <input type="text" value="東京営業所" class="form-control width70" disabled>
            </div>

            <div class="form-group width6p font-weight-bold">ESCO担当者</div>
            <div class="form-group width10p">
              <div class="input-group">
                <input type="text" value="技術　太郎" class="form-control width70" disabled>
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            
            <div class="form-group width5p font-weight-bold" *ngIf="this.form.value.ShouhinKbn=='4'">主任技術者</div>
            <div class="form-group width10p" *ngIf="this.form.value.ShouhinKbn=='4'">
              <div class="input-group">
                <input type="text" value="主任　太郎" class="form-control width70" disabled>
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group width20p setsumei" *ngIf="this.form.value.ShouhinKbn=='4'">
                注）主任技術者は、社歴10年以上の担当者を選択してください
            </div>

          </div>
          <div class="form-inline">

            <div class="form-group width7p font-weight-bold">見積・契約金額</div>
            <div class="form-group width8p">
              <input type="text" value="1,234,000" class="form-control width70 text-right" disabled>
            </div>

            <div class="form-group width7p font-weight-bold">原価合計金額</div>
            <div class="form-group width8p">
                <input type="text" value="328,000" class="form-control width70 text-right" disabled>
            </div>

            <div class="form-group width7p font-weight-bold">直接利益率(%)</div>
            <div class="form-group width11p">
                <input type="text" value="73.42%" class="form-control width70 text-right" disabled>
            </div>

            <div class="form-group width6p font-weight-bold">原価率(%)</div>
            <div class="form-group width30p">
              <input type="text" value="26.58%" class="form-control width70 text-right" disabled>
            </div>
          </div>

          <div class="form-inline" *ngIf="this.form.value.ShouhinKbn!='4'">
            
            <div class="form-group width7p font-weight-bold">税区分</div>
              <div class="form-group width8p">
                <div class="input-group">
                  <select>
                    <option>課税</option>
                    <option>課税</option>
                    <option>課税</option>
                  </select>
                </div>
            </div>
            <div class="form-group width7p font-weight-bold">税率</div>
              <div class="form-group width8p">
                <div class="input-group">
                    <select>
                        <option>10%</option>
                        <option>20%</option>
                        <option>30%</option>
                      </select>
                </div>
              </div>

          </div>

          <div class="form-inline">

              <div class="form-group width7p font-weight-bold">代行店原価金額</div>
              <div class="form-group width8p">
                <input type="text" value="810,000" class="form-control width70 text-right" disabled>
              </div>

              <div class="form-group width7p font-weight-bold">代行店見積金額</div>
              <div class="form-group width8p">
                <input type="text" value="808,000" class="form-control width70 text-right" disabled>
              </div>

              <div class="form-group width7p font-weight-bold">代行店原価率</div>
              <div class="form-group width11p">
                <input type="text" value="99.75%" class="form-control width70 text-right" disabled>
              </div>

              <div class="form-group width6p font-weight-bold">共栄会未加入</div>
              <div class="form-group width30p">
                <input type="text" value="未加入有" class="form-control width70" disabled>
              </div>
            </div>

            <div class="form-inline">

              <div class="form-group width7p font-weight-bold">ステータス</div>
              <div class="form-group width7p">
                <input type="text" value="見積" class="form-control width70" disabled>
              </div>
              <div class="form-group width10p">
                <input type="text" value="作成中" class="form-control width80" disabled>
              </div>

              <div class="form-group width5p font-weight-bold" *ngIf="this.form.value.ShouhinKbn=='4'">差戻理由</div>
              <div class="form-group width20p" *ngIf="this.form.value.ShouhinKbn=='4'">
                <div class="input-group">
                    <select>
                        <option>＊＊＊＊＊で＊＊＊＊＊のため</option>
                        <option>＊＊＊＊＊で＊＊＊＊＊のため</option>
                        <option>＊＊＊＊＊で＊＊＊＊＊のため</option>
                      </select>
                </div>
              </div>

              <div class="input-group width40p" *ngIf="this.form.value.ShouhinKbn=='4'">
                <input type="text" class="form-control width480" value="＊＊＊＊＊すること" />
              </div>

            </div>

        </div>
      </div>
    <!-- </form> -->

    <tabset>
      <tab  heading="見積基本">
        <div class="content">
            <div class="card">
              <div class="card-title">
                <div class="text-area">見積情報</div>
                <div class="btn-area">        
                  <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea2()">
                    <i class="fa" [class.fa-angle-up]="infoAreaOpend2" [class.fa-angle-down]="!infoAreaOpend2"></i>
                  </button>
                </div>
              </div>
              <div class="card-body" [@openClose]="infoAreaOpend2 ? 'open' : 'closed'">
                <div class="form-inline">
                  <div class="form-group width7p font-weight-bold">見積番号</div>
                  <div class="form-group width8p">
                    <input type="text" value="12345678" class="form-control width70" disabled>
                  </div>
                  <div class="form-group width17p">
                    <input type="text" class="form-control width140"  value="総合衛生管理" />
                  </div>
              
                  <div class="form-group width7p font-weight-bold">見積書発行日</div>
                  <div class="form-group width10p">
                    <div class="input-group">
                        <input type='text' class="form-control width80" appDatetimePicker />
                        <span class="input-group-prepend">
                          <span class="input-group-text">
                            <span class="fa fa-calendar"></span>
                          </span>
                        </span>
                    </div>
                  </div>

                  <div class="form-group width7p font-weight-bold">見積有効期間</div>
                  <div class="form-group width7p">
                      <div class="input-group"></div>
                      <input type="text" class="form-control width20" value="3" />
                      <div class="ml-10">を含む</div>
                  </div>

                  <div class="form-group width7p font-weight-bold">見積提出回数</div>
                  <div class="form-group width5p">
                    <div class="input-group">
                        <input type="text" class="form-control width30" value="12" />
                    </div>
                  </div>
                  
                  <div class="form-group width5p font-weight-bold input-group">単価見積</div>
                  <div class="form-group input-group width2p">
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" name="tankaKbn" id="tankaKbn">
                        <label class="custom-control-label" for="tankaKbn"></label>
                      </div>
                  </div>

                  <div class="form-group width7p font-weight-bold">一連の見積番号</div>
                  <div class="form-group width10p">
                    <div class="input-group">
                      <input type="text" class="form-control width70" value="12345678">
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-default">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              
                <div class="form-inline">
              
                  <div class="form-group width7p font-weight-bold">見積・契約金額</div>
                  <div class="form-group width8p">
                    <input type="text" value="1,234,000" class="form-control width70 text-right" disabled>
                  </div>
              
                  <div class="form-group width7p font-weight-bold">原価合計金額</div>
                  <div class="form-group width10p">
                    <input type="text" value="328,000" class="form-control width70 text-right" disabled>
                  </div>
              
                  <div class="form-group width7p font-weight-bold">直接利益率(%)</div>
                  <div class="form-group width10p">
                    <input type="text" value="73.42%" class="form-control width70 text-right" disabled>
                  </div>
              
                  <div class="form-group width7p font-weight-bold">原価率(%)</div>
                  <div class="form-group width7p">
                    <input type="text" value="26.58%" class="form-control width50 text-right" disabled>
                  </div>
                  
                  <div class="form-group width7p font-weight-bold">営業経費</div>
                  <div class="form-group width9p">
                    <input type="text" value="91,200" class="form-control width70 text-right" disabled>
                  </div>

                  <div class="form-group width9p font-weight-bold">税引き前利益率(%)</div>
                  <div class="form-group width7p">
                    <input type="text" value="66.03%" class="form-control width70 text-right" disabled>
                  </div>
                </div>

                <div class="form-inline">
              
                    <div class="form-group width7p font-weight-bold">前回見積番号</div>
                    <div class="form-group width8p">
                      <input type="text" value="87654321" class="form-control width70" disabled>
                    </div>
                
                    <div class="form-group width7p font-weight-bold">前回見積金額</div>
                    <div class="form-group width10p">
                      <input type="text" value="1,000,000" class="form-control width70 text-right" disabled>
                    </div>
                
                    <div class="form-group width7p font-weight-bold">前回見積原価</div>
                    <div class="form-group width10p">
                      <input type="text" value="283,000" class="form-control width70 text-right" disabled>
                    </div>
                
                    <div class="form-group width9p font-weight-bold">前回直接利益率(%)</div>
                    <div class="form-group width7p">
                      <input type="text" value="71.70%" class="form-control width70 text-right" disabled>
                    </div>
                    
                </div>
              
                <div class="form-inline">
                    <div class="form-group width7p font-weight-bold">見積提出先</div>
                    <div class="form-group width25p">
                      <input type="text" value="87654321" class="form-control width70" disabled> 
                      <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-default">
                              <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend ml-10">〇〇〇食品株式会社　横浜工場</div>
                      </div>
                    </div>

                    <div class="form-group width18p font-weight-bold"><a href="#">与信情報</a></div>
                  </div>

                  <div class="form-inline">

                  <div class="form-group width7p font-weight-bold">見積支店</div>
                  <div class="form-group width8p">
                    <input type="text" value="×××営業所" class="form-control width70" disabled>
                  </div>
              
                  <div class="form-group width7p font-weight-bold">見積デポ</div>
                  <div class="form-group width10p">
                    <div class="input-group">
                        <select>
                            <option>東京営業所</option>
                            <option>東京営業所</option>
                            <option>東京営業所</option>
                          </select>
                    </div>
                  </div>
              
                  <div class="form-group width7p font-weight-bold">見積チーム</div>
                  <div class="form-group width10p">
                    <input type="text" value="東京営業所" class="form-control width70" disabled>
                  </div>

                  <div class="form-group width9p font-weight-bold">ESCO見積担当者</div>
                  <div class="form-group width30p">
                    <div class="input-group">
                      <input type="text" value="技術　太郎" class="form-control width70" disabled>
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-default">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-inline">
                  <div class="form-group width7p font-weight-bold">管理期間</div>
                  <div class="form-group width17p">
                    <div class="input-group">
                      <input type="text" class="form-control width150" value="" />
                    </div>
                  </div>
                  
                  <div class="form-group width8p font-weight-bold">エリア(管理場所)</div>
                  <div class="form-group width17p">
                    <div class="input-group">
                      <input type="text" class="form-control width150" value="貴倉庫" />
                    </div>
                  </div>
                  
                  <div class="form-group width5p font-weight-bold">管理条件</div>
                  <div class="form-group width21p">
                    <div class="input-group">
                      <input type="text" class="form-control width200" value="年間管理 or スポット" />
                    </div>
                  </div>
                  
                  <div class="form-group width5p font-weight-bold">支払条件</div>
                  <div class="form-group width17p">
                      <div class="input-group">
                          <select>
                              <option>均等12分割銀行振込</option>
                              <option>均等12分割銀行振込</option>
                              <option>均等12分割銀行振込</option>
                              <option>均等12分割銀行振込</option>
                            </select>
                      </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="search-form">
              <div class="form-inline">
                  <div class="form-group width7p ">更改前契約</div>
                  <div class="form-group width10p "><input type="text" value="00230001-01" class="form-control width100" disabled></div>
                  <div class="form-group width20p "><input type="text" value="XXXXXXXXXXX" class="form-control width100" disabled></div>
              </div>
              <div class="btn-toolbar justify-content-between">
                <div>こちらの契約の更改ではありませんか？</div>
                <div>
                  <button type="button" class="btn btn-info">
                    <i class="fa fa-save"></i> 決定
                  </button>
                </div>
              </div>

              <div [class.auto-height]="gridOptions.gridAutoHeight" >
                <ag-grid-angular 
                #agGrid 
                [enableColResize]="true" 
                class="ag-theme-balham ag-grid-height-300" 
                [gridOptions]="gridOptions"
                (gridReady)="onGridReady($event)"
                [pagination]="true"
                [localeText]="localeText"
                [suppressPaginationPanel]="true"
                [enableRangeSelection]="true"
                >
                </ag-grid-angular>
              </div>
            </div>
        </div>
      </tab>
      <tab  heading="スケジュール">
        <app-cn010-d02></app-cn010-d02>
      </tab>
      <tab  heading="作業別金額表">
        <app-cn010-d03></app-cn010-d03>
      </tab>
      <tab  heading="見積書情報">
        <app-cn010-d04></app-cn010-d04>
      </tab>
      <tab  heading="紹介元管理">
        <app-cn010-d05></app-cn010-d05>
      </tab>
      <tab  heading="補足情報">
        <app-cn010-d06></app-cn010-d06>
      </tab>
      <tab  heading="関連ファイル">
        <app-cn010-d07></app-cn010-d07>
      </tab>
      <tab  heading="見積サマリー">
        <app-cn010-d08></app-cn010-d08>
      </tab>
      <tab  heading="契約書情報">
        <app-cn010-d09></app-cn010-d09>　
      </tab>
      <!-- <tab  heading="作業明細">
      </tab>
      <tab  heading="作業分担管理">
      </tab>
      <tab  heading="代行店管理">
      </tab>
      <tab  heading="代行店作業管理">
      </tab> -->
      <tab  heading="契約サマリー">
            <app-cn010-d10></app-cn010-d10>
      </tab>
      <tab  heading="担当者管理">
          <app-cn010-d18></app-cn010-d18>
      </tab>
    </tabset>
  </div>
</form>