
  .width8p{
    width: 9%;
  }
  .width30p{
    width: 30%;
  }
  .width120 {
    width: 9rem;
  }
  .width130 {
    width: 10rem;
  }
  .width71 {
    width: 71%;
  }
  .width60 {
    width: 60%;
  }