
  .width8p{
    width: 8%;
  }
  .width30p{
    width: 30%;
  }
  .width120 {
    width: 9rem;
  }
  .width130 {
    width: 10rem;
  }
  .width71 {
    width: 71%;
  }
  .width26 {
    width: 26%;
  }
  .width60p {
    width: 60%;
  }