<div class="btn-toolbar" role="toolbar">
    <div class="btn-toolbar" role="toolbar">
      <span *ngIf="!hideTotal" class="cnt">{{paginationInfo}}</span>
      <span *ngIf="!hideTotal" class="pageSize">
        <select #perPageSize class="form-control" [ngModel]="itemsPerPage" (change)="changeItemsPerPage(perPageSize)">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </span>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <pagination 
        [boundaryLinks]="true" 
        [totalItems]="totalItems" 
        [maxSize]="maxSize"
        [itemsPerPage]="itemsPerPage"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
        [rotate]="false"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
      >
      </pagination>
    </div>
   </div>