
  .width8p{
    width: 8%;
  }
  .width30p{
    width: 30%;
  }
  .width120 {
    width: 9rem;
  }
  .width130 {
    width: 10rem;
  }
  .width71 {
    width: 71%;
  }
  .width26 {
    width: 26%;
  }
  .width60p {
    width: 60%;
  }
  .width12p{
    width: 12%;
  }
  .width390 {
    width: 30rem;
  }
  .width15p{
    width: 15%;
  }
  .width15p{
    width: 15%;
  }
  .width140 {
    width: 12rem;
  }
  .width55p{
    width: 55%;
  }
  .width550 {
    width: 53.5rem;
  }
  .width1p{
    width: 1.8%;
  }
  .width3p{
    width: 3%;
  }