<form class="card employe-edit">
  <div class="card-body">
    <div class="card mb-5">
      <div class="card-title">雇工基本信息</div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">编号</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="000001" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">昵称</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="霞子" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">注册来源</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="微信登录" disabled />
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">注册时间</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="2019/01/19" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">联系电话</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="18899990000" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">金额</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="￥1,300" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title">实名认证</div>
      <div class="card-body">
        <div class="form-inline mb-5">
          <div class="form-group width7 font-weight-bold">姓名</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="000001" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">身份证有效期</div>
          <div class="form-group">
            <div class="input-group">
              <input type='text' class="form-control width120" disabled value="1990/12/31" />
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-none">~</span>
              </div>
              <input type='text' class="form-control width120" disabled value="2015/12/31" />
            </div>
            <div class="ml-10">已过期</div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold"></div>
          <div class="form-group">
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/lunbo.png" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/lunbo.png" alt="">
            </div>
            <div class="ml-10">待审核</div>
            <div class="pager mt-5 col-12">
              <div></div>
              <div>
                <button type="button" class="btn btn-success"> <i class="fa fa-check-square"></i> 通过</button>
                <button type="button" class="btn btn-info ml-3"> <i class="fa fa-remove"></i> 拒绝</button>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title">雇工认证</div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">工号</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="489379487" disabled />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">标签</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="已有/更新/新增" disabled />
            </div>
            <div class="ml-10">
              <button type="button" class="btn btn-success"> <i class="fa fa-check-square"></i> 通过</button>
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">区域</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" value="自贡市自流井区" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">资质认证</div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">资质证件</div>
          <div class="form-group">
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/lunbo.png" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/lunbo.png" alt="">
            </div>
            <div class="ml-10">待审核</div>
            <div class="pager mt-5 col-12">
              <div></div>
              <div>
                <button type="button" class="btn btn-success"> <i class="fa fa-check-square"></i> 通过</button>
                <button type="button" appModal [config]="refuseModalConfig" class="btn btn-info ml-3">
                  <i class="fa fa-remove"></i> 拒绝
                </button>
              </div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="form-inline mt-5 mb-5">
          <div class="form-group width7 font-weight-bold">有效期</div>
          <div class="form-group">
            <div class="input-group">
              <input type='text' class="form-control width120" disabled value="1990/12/31" />
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-none">~</span>
              </div>
              <input type='text' class="form-control width120" disabled value="2015/12/31" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>