<div class="card">
  <div class="card-title">佣金分配</div>
  <div class="card-body p-10">
    <table class="app-table mt-10 full-width">
      <thead>
        <tr>
          <th>获得者</th>
          <th>金额</th>
          <th>理由</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="input-group">
              <select name="" id="" class="form-control width13">
                <option value="-1">--请选择--</option>
                <option value="">张师傅</option>
                <option value="">李师傅</option>
                <option value="">王师傅</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control width13" placeholder="请填写佣金金额">
          </td>
          <td>
            <input type="text" class="form-control width13">
          </td>
          <td>
            <div class="btn-area">
              <button type="button" class="btn btn-info">
                <i class="fa fa-check-square-o"></i> 执行
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-eraser"></i> 修改
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-close"></i> 取消
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <select name="" id="" class="form-control width13">
                <option value="-1">--请选择--</option>
                <option value="">张师傅</option>
                <option value="">李师傅</option>
                <option value="">王师傅</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control width13" placeholder="请填写佣金金额">
          </td>
          <td>
            <input type="text" class="form-control width13">
          </td>
          <td>
            <div class="btn-area">
              <button type="button" class="btn btn-info">
                <i class="fa fa-check-square-o"></i> 执行
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-eraser"></i> 修改
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-close"></i> 取消
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <select name="" id="" class="form-control width13">
                <option value="-1">--请选择--</option>
                <option value="">张师傅</option>
                <option value="">李师傅</option>
                <option value="">王师傅</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control width13" placeholder="请填写佣金金额">
          </td>
          <td>
            <input type="text" class="form-control width13">
          </td>
          <td>
            <div class="btn-area">
              <button type="button" class="btn btn-info">
                <i class="fa fa-check-square-o"></i> 执行
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-eraser"></i> 修改
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-close"></i> 取消
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <select name="" id="" class="form-control width13">
                <option value="-1">--请选择--</option>
                <option value="">张师傅</option>
                <option value="">李师傅</option>
                <option value="">王师傅</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control width13" placeholder="请填写佣金金额">
          </td>
          <td>
            <input type="text" class="form-control width13">
          </td>
          <td>
            <div class="btn-area">
              <button type="button" class="btn btn-info">
                <i class="fa fa-check-square-o"></i> 执行
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-eraser"></i> 修改
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-close"></i> 取消
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <select name="" id="" class="form-control width13">
                <option value="-1">--请选择--</option>
                <option value="">张师傅</option>
                <option value="">李师傅</option>
                <option value="">王师傅</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="form-control width13" placeholder="请填写佣金金额">
          </td>
          <td>
            <input type="text" class="form-control width13">
          </td>
          <td>
            <div class="btn-area">
              <button type="button" class="btn btn-info">
                <i class="fa fa-check-square-o"></i> 执行
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-eraser"></i> 修改
              </button>
              <button type="button" class="btn btn-warning">
                <i class="fa fa-close"></i> 取消
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pager col-4 offset-4 justify-content-around pb-5">
    <div>
      <button type="button" class="btn btn-success">
        <i class="fa fa-check-square"></i> 确定
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-warning">
        <i class="fa fa-close"></i> 取消
      </button>
    </div>
  </div>
</div>