.order-edit{
    width:70%;
    float: left;
   
    textarea{
        resize: none;
    }
}
.thumb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 8px 0 0;
    width:102px;
    height:102px;
    border:1px solid #333;

    .thumb-img{
        max-width: 100px;
        max-height: 100px;
    }
}
.wrap-right{
    width: 28%;
    margin-right:0.5%;
    float: right;
    padding: 1.5rem;
    background: #fff;
    
    ul.process-list{
        display: flex;
        flex-wrap: wrap;
        padding:16px;
        height: 80vh;
        overflow-y: auto;
        list-style: none;

        .process{
            position: relative;
            height:4rem;
            width:100%;
            padding-left:1.5rem;
            border-left:1px solid #ccc;

            p{
                position: relative;
                top:-13px;
            }
        }

        li.process.active::before{
            background: #007bff;
            box-shadow: 0 0 4px 3px #7bb9ef;
        }
        li.process::before{
            content: "";
            display: flex;
            position: relative;
            left:-1.85rem;
            width:8px;
            height:8px;
            border-radius: 50%;
            background:#7bb9ef;
            box-shadow: 0 0 4px 3px #7bb9ef;
        }
    }

    .no-border{
        border:none !important;
    }
}
.modal .app-modal-commission{
    width:80%;
  }