<form class="card order-edit">
  <div class="card-body">
    <div class="card mb-5">
      <div class="card-title">订单详情
      </div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">单号</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">标签</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">结算方式</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">单位</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">数量</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">单价</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">金额</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">预约时间</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130">
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">内容说明</div>
          <div class="form-group width20p">
            <div class="input-group">
              <textarea name="" id="" cols="80" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title">影像资料</div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group">
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/12.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/14.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/12.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/12.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/3.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/12.jpg" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/lunbo.png" alt="">
            </div>
            <div class="thumb">
              <img class="thumb-img" src="http://image.uboworks.com/12.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title">地址信息
      </div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">地址</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">联系人</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">联系电话</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title">下单方
      </div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">用户ID</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">姓名</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">联系电话</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">接单方
      </div>
      <div class="card-body">
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">工号ID</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">姓名</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">联系电话</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group width7 font-weight-bold">接单时间</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">完成时间</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
          <div class="form-group width7 font-weight-bold">款项状态</div>
          <div class="form-group width20p">
            <div class="input-group">
              <input type="text" class="form-control width130" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>