<form [formGroup]="form" class="search-form">
  <div class="card" [@openClose]="opencontraction ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求書番号</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="000000001">
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求管轄デポ</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="001">
        </div>
        <div class="ml-10">デポ001</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求送付先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="0001">
        </div>
        <div class="ml-10">請求書送付先0001</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求締日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="YYYY/MM/DD">
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求書発行日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="YYYY/MM/DD">
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求金額合計</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="9,999">
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">特記事項</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width30r" value="特記事項×××××××××××××××××××××××××××">
        </div>
      </div>
    </div>
  </div>
</form>
<div class="list" [class.auto-height]="gridOptions.gridAutoHeight" >
  <div class="width70p">
    <table class="app-table mt-10 full-width">
      <thead>
        <tr>
          <th class="text-left">施行先／納品先</th>
          <th class="text-left">請求金額</th>
          <th class="text-left">品名・作業内容</th>
          <th class="text-left">明細摘要</th>
          <th class="text-left">仕切書出力区分</th>
          <th class="text-left">仕切書発行状況</th>
          <th class="text-left">納品書出力区分</th>
          <th class="text-left">納品書発行状況</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
        <tr>
          <td class="text-left">納品先００１</td>
          <td class="text-right">9,999</td>
          <td class="text-left">物品００１</td>
          <td class="text-left">１２３４５６７８９０</td>
          <td class="text-center">要</td>
          <td class="text-center">済</td>
          <td class="text-center">不要</td>
          <td class="text-center">対象外</td>
        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar justify-content-between mt-3">
      <div>
        <button type="button" class="btn btn-warning">
          <i class="fa fa-remove"></i> 削除
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> 仕切書出力
        </button>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> 納品書出力
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-arrow-circle-right"></i> 請求書プレビュー
        </button>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" />請求書出力
        </button>
      </div>
    </div>    
  </div>
</div>