<form [formGroup]="form" class="search-form">
  <div class="card" [@openClose]="opencontraction ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求管轄デポ</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="001">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">デポ001</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求書発行日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type='text' class="form-control width130" appDatetimePicker formControlName="OrderYmdFrom" appValidate
            [validateFormControl]="form.get('OrderYmdFrom')" [endDate]="form.get('OrderYmdTo').value" />
          <span class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求送付先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="0001">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">請求書送付先0001</div>
      </div>
      <div class="width10 font-weight-bold">請求先締日参考情報</div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control maxwid width4" value="15日"/>
          <input type="text" class="form-control maxwid width4" value="末日"/>
          <input type="text" class="form-control maxwid width4" />
          <input type="text" class="form-control maxwid width4" />
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">特記事項</div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-checkbox  custom-control-inline " *ngFor="let item of Tejishixiang; let i = index;">
            <input class="custom-control-input" type="checkbox" name="Tejishixiang" id="{{'Tejishixiang'+i}}"
              [value]="item.Kbn" [checked]="item.ValidFlg==1" (change)="$event.target.checked ? item.ValidFlg = 1 : item.ValidFlg = 0">
            <label class="custom-control-label" for="{{'Tejishixiang'+i}}">{{item.KbnVal}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-area">
    <button type="button" class="btn btn-primary" (click)="searchData()">
      <i class="fa fa-search"></i> 検索
    </button>
    <button type="button" class="btn btn-warning">
      <i class="fa fa-eraser"></i> クリア
    </button>
    <button type="button" class="btn btn-success">
      <img src="./assets/images/icon/download.png" /> 請求変更作業一覧出力
    </button>
    <button type="button" class="btn btn btn-secondary" (click)="conditionPanelOpenOrClose()">
      <i class="fa" [class.fa-angle-up]="opencontraction" [class.fa-angle-down]="!opencontraction"></i>
    </button>
  </div>
</form>

<div class="list" [class.auto-height]="gridOptions.gridAutoHeight" >
  <div class="pager">
    <div>
      <button type="button" class="btn btn-info">
        <i class="fa fa-save"></i> 確定
      </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>

  <ag-grid-angular 
  #agGrid 
  [enableColResize]="true" 
  class="ag-theme-balham" 
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="25"
  [localeText]="localeText"
  [suppressPaginationPanel]="true"
  [enableRangeSelection]="true"
  >
  </ag-grid-angular>

  <div class="pager">
    <div>
      <button type="button" class="btn btn-info">
        <i class="fa fa-save"></i> 確定
      </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
</div>