.width7p{
    width: 7%;
  }
.width8p{
    width: 8%;
  }
.width30p{
    width: 30%;
  }
.width120 {
    width: 9rem;
  }
.width130 {
    width: 10rem;
  }
.width3{
  width: 3rem;
}
.width4{
  width: 4rem;
}
.width10{
  width: 10rem;
}