<div *ngIf="isLogin" class="header">
  <div class="title-menu">
    <ul>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" (click)="onMenuClick('/index')" [class.active]="isActive('index')" (click)="onMenuClick('/index')">首页</a>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('system')">系统管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/system')">用户管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">角色管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">权限列表</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">网站设置</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">系统配置</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">核心配置</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AP020D01')">模块管理</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('log')">日志管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/log')">登录日志</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/CN010D19')">操作日志</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/CN020D01')">数据库日志</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/CN020D04')">用户端日志</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('query')">查询模块</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/query')">查询</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('user')">用户管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/userList')">用户列表</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/RF010D01')">雇工列表</a>
        </div>
      </li>
      <li class="dropdown-submenu ">
        <a href="javascript:void(0);" [class.active]="isActive('business')">业务管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/business')">工单列表</a>
          <a class="dropdown-item" href="javascript:void(0);">订单单位</a>
          <a class="dropdown-item" href="javascript:void(0);">价格方式</a>
          <a class="dropdown-item" href="javascript:void(0);">标签属性</a>
          <a class="dropdown-item" href="javascript:void(0);">开单管理</a>
          <a class="dropdown-item" href="javascript:void(0);">开单模板管理</a>
        </div>
      </li>
      <li class="dropdown-submenu ">
        <a href="javascript:void(0);" [class.active]="isActive('news')">新闻公告广告</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/news')">新闻管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/GM020D01')">公告管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/GM030D01')">广告管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/GM010D02')">合同管理</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/GM020D02')">协议管理</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('finace')">财务管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/finace')">业务概览</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/AR0010D02')">提现处理</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('card')">卡券管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/card')">卡券管理</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('message')">消息信息管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/message')">客户留言</a>
          <a class="dropdown-item" href="javascript:void(0);">意见反馈</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);" [class.active]="isActive('level')">评价等级管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/level')">订单评价</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/BU040D01')">用户等级</a>
        </div>
      </li>
      <li class="dropdown-submenu">
        <a href="javascript:void(0);">测试</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/SD10D07')">列表</a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="onMenuClick('/design')">design</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="header-info">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">优邦工站</li>
      <li class="breadcrumb-item">首页</li>
    </ol>
    <ul class="user-info">
      <li>IP:10.11.12.114</li>
      <li>第128次登录</li>
      <li>财务部</li>
      <li>张三</li>
      <li>2018/12/04 12:50:56</li>
    </ul>
    <div class="header-mark">
      <a class="" href="javascript:void(0);" (click)="onMenuClick('/resetpwd')"><i class="fa fa-legal"></i>修改密码</a>
      <a class="" href="javascript:void(0);" (click)="onMenuClick('/consumerinfo')"><i class="fa fa-address-book"></i>设置用户信息</a>
      <a href="javascript:void(0);" (click)="logOut()"><i class="fa fa-user-circle"></i><span>退出</span></a>
    </div>
  </div>
</div>

<div *ngIf="isLogin" class="main">
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>

  <div class="footer mt-3">
    <div class="copy-right">Copyright (c) Earth Environmental Service Co., Ltd. All Right Reserved.</div>
  </div>
</div>

<ng4-loading-spinner *ngIf="isLogin"></ng4-loading-spinner>
<div *ngIf="!isLogin" class="card">
  <div class="card-title">登录</div>
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-inline">
            <div class="form-group width10 required-item font-weight-bold">用户名</div>
            <div class="form-group width30p">
              <div class="input-group">
                <input type="text" name="" class="form-control width15" />
              </div>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group width10 required-item font-weight-bold">密码</div>
            <div class="form-group width30p">
              <div class="input-group">
                <input type="password" class="form-control width15" />
              </div>
            </div>
          </div>
          <div class="btn-eara">
            <button (click)="isLogin=true" type="button" class="btn btn-info">
              <i class="fa fa-check-square"></i> 登录
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>