<div class="search-form mb-2">
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">成分コード</div>
    <div class="form-group width30p">
      <div class="input-group">
        <input type="text" class="form-control width130" value="100000" disabled>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">成分名</div>
    <div class="form-group width30p">
      <div class="input-group">
        <input type="text" class="form-control width130" value="98%アクリル酸">
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">CAS番号</div>
    <div class="form-group width30p">
      <div class="input-group">
        <input type="text" class="form-control width130" value="">
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">PRTR</div>
    <div class="form-group width30p">
      <div class="input-group width120">
        <label class="radio-inline">
          <input checked type="radio" name="radio1" class="form-control" value="12345">未確認
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio1" class="form-control" value="12345">対象
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio1" class="form-control" value="12345">対象外
        </label>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">ポジティブリスト</div>
    <div class="form-group width30p">
      <div class="input-group width120">
        <label class="radio-inline">
          <input checked type="radio" name="radio2" class="form-control" value="12345">未確認
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio2" class="form-control" value="12345">対象
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio2" class="form-control" value="12345">対象外
        </label>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group width8p font-weight-bold">安衛法リスクアセスメント</div>
    <div class="form-group width30p">
      <div class="input-group width120">
        <label class="radio-inline">
          <input checked type="radio" name="radio3" class="form-control" value="12345">未確認
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio3" class="form-control" value="12345">対象
        </label>
      </div>
      <div class="input-group width120">
        <label class="radio-inline">
          <input type="radio" name="radio3" class="form-control" value="12345">対象外
        </label>
      </div>
    </div>
  </div>
  <div class="btn-area">
    <button type="button" class="btn btn-warning">
      <i class="fa fa-remove"></i> 削除
    </button>
    <button type="button" class="btn btn-info">
      <i class="fa fa-save"></i> 登録
    </button>
    <button type="button" class="btn btn-primary">
      <i class="fa fa-arrow-circle-left"></i> 戻る
    </button>
  </div>
</div>