.width7p{
  width: 7%;
}
.width8p{
  width: 8%;
}
.width10p{
  width: 10%;
}
.width30p{
  width: 30%;
}

.width3p{
  width: 3%;
}


.width15p{
  width: 15%;
}

.width35p{
  width: 35%;
}
.width45p{
  width: 45%;
}
.width64 {
  width: 4rem;
}
.width120 {
  width: 9rem;
}
.width96 {
  width: 6rem;
}
.width140 {
  width: 18rem;
}
.width240 {
  width: 15rem;
}
.width400 {
  width: 25rem;
}
.width130 {
  width: 10rem;
}
.width480{
  width: 32rem;
}
.width580{
  width: 45rem;
}
.widthmy{
  width: 12.5%;
}
.widthmytable{
  width: 100%;
}
.width85p{
  width: 85%;
}
.width95p{
  width: 95%;
}
