<form [formGroup]="form" class="search-form">
  <div class="card p15">
    <div #conditonPanel>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">倉庫コード</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">倉庫名</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">管轄組織</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" />
            <div class="input-group-prepend">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="ml-10">××××株式会社</div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">医薬品取扱</div>
        <div class="form-group width30p">
          <div class="input-group">
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio" name="DoctorKbn" id="DoctorKbn1" checked="checked" />
              <label class="custom-control-label" for="DoctorKbn1">可</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio" name="DoctorKbn" id="DoctorKbn2">
              <label class="custom-control-label" for="DoctorKbn2">不可</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">倉庫管理者</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" />
            <div class="input-group-prepend">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="ml-10">××××株式会社</div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold"></div>
        <div class="form-group">
          <div class="input-group">
            <div class="custom-control custom-checkbox  custom-control-inline">
              <input class="custom-control-input" type="checkbox" name="PartmentKbn" id="PartmentKbn">
              <label class="custom-control-label" for="PartmentKbn">管轄組織の情報を利用する。</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">郵便番号</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control widthpostal_1" />&nbsp;-&nbsp;<input type="text" class="form-control widthpostal_2" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold ">住所１</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control widthaddress" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">住所2</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control widthaddress" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">TEL</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">FAX</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">転送電話</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group width7p font-weight-bold">転送FAX</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <br />
      <div class="form-inline justify-content-between">
        <div>
          <button type="button" class="btn btn-warning">
            <i class="fa fa-remove"></i> 削除
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-info">
            <i class="fa fa-save"></i> 登録
          </button>
          <button type="button" class="btn btn-primary">
            <i class="fa fa-arrow-circle-left"></i> 戻る
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<br />