<div class="content">

        <div class="card">
          <div class="card-title">
            <div class="text-area">ESCO担当者履歴</div>
          </div>
          <div class="card-body">
            <div class="form-inline">
              
              <div class="form-group font-weight-bold"></div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox" name="OrderPurposeKbn" id="OrderPurposeKbn1">
                <label class="custom-control-label" for="OrderPurposeKbn1">マスターの値を自動反映する</label>
              </div>
            </div>
          </div>
          <div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
              <ag-grid-angular
                #agGrid
                [enableColResize]="true"
                class="ag-theme-balham" style="height:500px"
                [gridOptions]="gridOptions"
                (gridReady)="onGridReady($event)"
                [pagination]="true"
                [paginationPageSize]="25"
                [localeText]="localeText"
                [enableFilter]="true"
                [enableSorting]="true"
                [suppressPaginationPanel]="true"
                [enableRangeSelection]="true"
              >
              </ag-grid-angular>
            </div>
            <div class="search-form">
              <div class="btn-area">
                <button type="button" class="btn btn-info">
                  <i class="fa fa-save"></i> 登録
                </button>

                <button type="button" class="btn btn-primary">
                  <i class="fa fa-arrow-circle-left"></i> キャンセル
                </button>
              </div>
            </div>
        </div>
</div>
 
