.btn-group-area {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    padding: 1rem;
    ul {
      &:not(:first-child) {
        margin-left: 2rem;
      }
      li {
        &:not(:first-child) {
          margin-top: 1rem;
        }
        list-style: none;
      }
    }
  }
  h3 {
    border-bottom: 2px solid #7bb9ef;
    margin-top: 1rem;
  }
  .width120 {
    width: 10rem;
  }
  .width130 {
    width: 10rem;
  }
  .width20 {
    width: 1.7rem;
  }
  .width30 {
    width: 2.5rem;
  }
  .width45 {
    width: 3.75rem;
  }
  .width70 {
    width: 6rem;
  }
  .width90 {
    width: 7.5rem;
  }
  .width100 {
    width: 8.4rem;
  }
  .width120 {
    width: 10rem;
  }
  .width140 {
    width: 11.74rem;
  }
  .width150 {
    width: 150px;
  }
  .width170 {
    width: 170px;
  }
  .width190 {
    width: 15.9rem;
  }
  .width280 {
    width: 23.4rem;
  }
  .width330 {
    width: 27.5rem;
  }