<form [formGroup]="form" class="card">
  <div class="card-title">
    <div class="text-area">承認経路マスター登録</div>
    <div class="btn-area">
      <button type="button" class="btn btn btn-secondary" (click)="changeInfoArea()">
        <i class="fa" [class.fa-angle-up]="infoAreaOpend" [class.fa-angle-down]="!infoAreaOpend"></i>
      </button>
    </div>
  </div>
  <div class="card-body" [@openClose]="infoAreaOpend ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">ルートID</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="S0010" disabled>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">ルート名</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="見積（450万超工事）">
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">承認区分</div>
      <div class="form-group width30p">
        <div class="input-group">
          <select name="" id="" class="form-control width130">
            <option value="">(サービス)見積申請</option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">金額</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type='text' class="form-control width120" value="0" />
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-none">~</span>
          </div>
          <input type='text' class="form-control width120" value="4,500,000" />
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">工事</div>
      <div class="form-group width30p">
        <div class="input-group width120">
          <label class="radio-inline">
            <input type="radio" id="radio1" name="radio1" class="form-control" value="12345">工事である
          </label>
        </div>
        <div class="input-group width120">
          <label class="radio-inline">
            <input checked type="radio" id="radio2" name="radio1" class="form-control" value="12345">工事でない
          </label>
        </div>
        <div class="input-group width120">
          <label class="radio-inline">
            <input type="radio" id="radio3" name="radio1" class="form-control" value="12345">対象外
          </label>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">薬品</div>
      <div class="form-group width30p">
        <div class="input-group width120">
          <label class="radio-inline">
            <input type="radio" id="medicine1" name="medicine" class="form-control" value="12345">薬品である
          </label>
        </div>
        <div class="input-group width120">
          <label class="radio-inline">
            <input type="radio" id="medicine2" name="medicine" class="form-control" value="12345">薬品でない
          </label>
        </div>
        <div class="input-group width120">
          <label class="radio-inline">
            <input checked type="radio" id="medicine3" name="medicine" class="form-control" value="12345">対象外
          </label>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">組織承認ブロック</div>
      <div class="form-group width30p">
        <div class="input-group">
          <select name="" id="" class="form-control width130">
            <option value="">東日本</option>
            <option value="">西日本</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">申請者WF権限</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="WF003">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-none">+</span>
          </div>
          <input type="text" class="form-control width130" value="本社営業申請" disabled>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">備考</div>
      <div class="form-group width30p">
        <div class="input-group">
          <textarea class="" name="" id="" cols="60" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
  <div class="pager">
    <div></div>
    <div class="btn-area">
        <button type="button" class="btn btn-info" (click)="onAddRow()">
            <i class="fa fa-plus"></i> 行追加
        </button>
    </div>
  </div>

  <ag-grid-angular 
  #agGrid 
  [enableColResize]="true" 
  class="ag-theme-balham" 
  [gridOptions]="gridOptions" 
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="25" 
  [localeText]="localeText" 
  [rowSelection]="rowSelection"
  [enableFilter]="true" 
  [suppressPaginationPanel]="true" 
  [enableRangeSelection]="true">
  </ag-grid-angular>
  <div class="pager">
    <div></div>
    <div class="btn-area">
      <button type="button" class="btn btn-info" (click)="onAddRow()">
        <i class="fa fa-plus"></i> 行追加
      </button>
      <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 登録
        </button>
    </div>
  </div>
</div>