<div class="content">
  <div class="form-inline mt-10">

    <div class="form-group">
      <div class="input-group width100">
        <button type="button" class="btn btn-info"  [disabled]="isGetTwo" (click)="isGetOne = !isGetOne;">
          代行店変更
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group width110">
        <button type="button" class="btn btn-info" [disabled]="isGetOne" (click)="isGetTwo = !isGetTwo;">
          工程担当変更
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group width110">
        <button type="button" class="btn btn-info">
          内容クリア
        </button>
      </div>
    </div>
</div>


<div class="form-inline justify-content-between">
  <div *ngIf="isGetOne" class="padding width60p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>


  <div *ngIf="isGetOne" class="width40p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptions1"
        (gridReady)="onGridReady1($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
  </div>
</div>

<div class="form-inline justify-content-between">
    <div *ngIf="isGetTwo" class="padding width60p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptionsTwo"
        (gridReady)="onGridReady2($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>

    <div *ngIf="isGetTwo" class="width40p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptionsTwo1"
        (gridReady)="onGridReady3($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>
</div>
<div *ngIf="isGetTwo" class="form-inline justify-content-between">
    <div class="form-group width450"></div>
    <div class="form-group width340">
      <div class="input-group">
        <select class="width110">
          <option></option>
        </select>
      </div>
    </div>

  <div class="form-group">
    <div class="input-group width135">
      <select class="width110">
        <option></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group width335">
      <input type="text">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <button type="button" class="btn btn-info">
        <i class="fa fa-save"></i> 反映
      </button>
    </div>
  </div>

</div>

<div class="form-inline justify-content-between">
    <div *ngIf="isGetTwo" class="padding width60p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptionsTwo2"
        (gridReady)="onGridReady4($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>

    <div *ngIf="isGetTwo" class="width40p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-200"
        [gridOptions]="gridOptionsTwo3"
        (gridReady)="onGridReady5($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>
</div>

<div class="form-inline justify-content-between">
  <div></div>
  <div *ngIf="isGetTwo" class="form-inline">
      <div class="input-group" style="margin-right:295px">
        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 支払予定管理
        </button>
      </div>

  </div>
</div>

<div class="form-inline justify-content-between">
    <div *ngIf="isGetTwo" class="padding width70p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-400"
        [gridOptions]="gridOptionsTwo4"
        (gridReady)="onGridReady6($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>

    <div *ngIf="isGetTwo" class="width30p">
      <ag-grid-angular
        #agGrid
        [enableColResize]="true"
        class="ag-theme-balham ag-grid-height-400"
        [gridOptions]="gridOptionsTwo5"
        (gridReady)="onGridReady7($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [enableSorting]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true"
      >
      </ag-grid-angular>
    </div>
 
</div>

  <div class="form-inline justify-content-between">
    <div></div>
    <div *ngIf="isGetTwo" class="form-inline">
        <div class="input-group width100">
          <button type="button" class="btn btn-orengered">
            <i class="fa fa-mail-forward"></i> 承認依頼
          </button>
        </div>
    
        <div class="input-group width80">
          <button type="button" class="btn btn-info">
            <i class="fa fa-save"></i> 引戻
          </button>
        </div>

        <div class="input-group width40">
          <label>or</label>
        </div>
 
        <div class="input-group width80">
          <button type="button" class="btn btn-orengered">
            <i class="fa fa-check-circle"></i> 承認
          </button>
        </div>
    
        <div class="input-group">
          <button type="button" class="btn btn-danger">
            <i class="fa fa-mail-reply"></i> 引戻
          </button>
        </div>
      
    </div>
  </div>


</div>