.width40 {
    width: 3.4rem;
}
.width80 {
    width: 6.7rem;
}
.width100 {
    width: 8.4rem;
}
.width110 {
    width: 9.2rem;
}
.width135 {
    width: 11.25rem;
}
.width140 {
    width: 11.7rem;
}
.width160 {
    width: 13.4rem;
}
.width200 {
    width: 17rem;
}
.width270 {
    width: 22.5rem;
}
.width285 {
    width: 23.75rem;
}
.width305 {
    width: 25.4rem;
}
.width335 {
    width: 27.92rem;
}
.width340 {
    width: 28.4rem;
}
.width350 {
    width: 29.2rem;
}
.width360 {
    width: 30rem;
}
.width375 {
    width: 31.25rem;
}
.width400 {
    width: 33.4rem;
}
.width440 {
    width: 36.7rem;
}
.width450 {
    width: 37.5rem;
}
.width465 {
    width: 38.75rem;
}
.width500 {
    width: 41.7rem;
}
.width550 {
    width: 45.9rem;
}
.width700 {
    width: 58.4rem;
}
.width750 {
    width: 62.5rem;
}
.width800 {
    width: 67rem;
}
.width930 {
    width: 77.5rem;
}
.width940 {
    width: 78.4rem;
}
.width1030 {
    width: 85.9rem;
}
.width30p{
    width: 30%;
}
.width40p{
    width: 40%;
}
.width60p{
    width: 60%;
}
.width70p{
    width: 70%;
}
.padding{
    padding: 8px
}
.width7p{
  width: 20%;
}
.width8p{
  width: 38%;
}