<div class="card">
  <div class="card-body">
    <div class="list">
      <div class="pager m-1">
        <div>
          <button type="button" class="btn btn-info">
            <i class="fa fa-plus"></i> 新增
          </button>
        </div>
        <app-pagination [gridApi]="gridApi"></app-pagination>
      </div>
      <ag-grid-angular #agGrid [enableColResize]="true" class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [pagination]="true" [paginationPageSize]="25" [localeText]="localeText" [enableFilter]="true"
        [suppressPaginationPanel]="true" [enableRangeSelection]="true">
      </ag-grid-angular>
      <div class="pager">
        <div>
        </div>
        <app-pagination [gridApi]="gridApi"></app-pagination>
      </div>
    </div>
  </div>
</div>