<tabset>
  <tab heading="紹介元管理">Basic content 1</tab>
  <tab heading="・・・">Basic content 2</tab>
  <tab heading="紹介元変更">
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group width100 font-weight-bold">見積・契約金額</div>
        <div class="form-group">500,000</div>
      </div>

      <div class="form-inline">
        <div class="form-group  width20p searchTitle font-weight-bold"></div>
        <div class="form-group">紹介料</div>

        <div class="form-group  width8p searchTitle font-weight-bold"></div>
        <div class="form-group">変更後紹介料</div>
      </div>

      <div class="form-inline justify-content-between">
          <div style="width:20%;padding:10px">
            <ag-grid-angular
              #agGrid
              [enableColResize]="true"
              class="ag-theme-balham ag-grid-height-400"
              [gridOptions]="gridOptions"
              (gridReady)="onGridReady($event)"
              [pagination]="true"
              [paginationPageSize]="25"
              [localeText]="localeText"
              [enableFilter]="true"
              [enableSorting]="true"
              [suppressPaginationPanel]="true"
              [enableRangeSelection]="true"
            >
            </ag-grid-angular>
        </div>

        <div  style="width:40%">
            <ag-grid-angular
              #agGrid
              [enableColResize]="true"
              class="ag-theme-balham ag-grid-height-400"
              [gridOptions]="gridOptions1"
              (gridReady)="onGridReady1($event)"
              [pagination]="true"
              [paginationPageSize]="25"
              [localeText]="localeText"
              [enableFilter]="true"
              [enableSorting]="true"
              [suppressPaginationPanel]="true"
              [enableRangeSelection]="true"
            >
            </ag-grid-angular>
        </div>

        <div  style="width:40%;padding:10px">
          <ag-grid-angular
            #agGrid
            [enableColResize]="true"
            class="ag-theme-balham ag-grid-height-400"
            [gridOptions]="gridOptions2"
            (gridReady)="onGridReady2($event)"
            [pagination]="true"
            [paginationPageSize]="25"
            [localeText]="localeText"
            [enableFilter]="true"
            [enableSorting]="true"
            [suppressPaginationPanel]="true"
            [enableRangeSelection]="true"
          >
          </ag-grid-angular>
      </div>
    </div>
      
    </div>
  </tab>
</tabset>