.width100 {
    width: 8.4rem;
}
.width240 {
    width: 20rem;
}
.width250 {
    width: 22rem;
}
.width495 {
    width: 41.25rem;
}
.width510 {
    width: 42.5rem;
}
.width520 {
    width: 43.4rem;
}
.width20p{
    width: 20%;
}
.width8p{
    width: 38%;
}