<form [formGroup]="form" class="search-form">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">契約番号 </div>
      <div class="form-group width30p">
            <input type='text' class="form-control width120" formControlName="aa"/>
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-none">-</span>
          </div>
          <input type='text' class="form-control width60" formControlName="aa"/>
        <input type='text' class="form-control width120 ml10" formControlName="aa"/>
      </div>

      <div class="form-group width8p font-weight-bold">契約名年月表示</div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-checkbox  custom-control-inline " *ngFor="let item of OrderPurposeKbnList; let i = index;">
            <input class="custom-control-input" type="checkbox" name="OrderPurposeKbn" id="{{'OrderPurposeKbn'+i}}"
              [value]="item.Kbn" [checked]="item.ValidFlg==1" (change)="$event.target.checked ? item.ValidFlg = 1 : item.ValidFlg = 0">
            <label class="custom-control-label" for="{{'OrderPurposeKbn'+i}}">{{item.KbnVal}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">締日・回収日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <select name="1" id="1" class="form-control width240" formControlName="cc">
              <option value="">末日締　翌月末日払（年契用）</option>
              <option value=""></option>
              <option value=""></option>
            </select>
        </div>
        <button type="button" class="btn btn-info ml10">
            <i class="fa fa-save"></i> 反映
          </button>
      </div>

      <div class="form-group width8p font-weight-bold">送付先一括変更</div>
      <div class="form-group width30p">
        <div class="input-group">
          <select name="" id="" class="form-control width240" formControlName="dd">
            <option value="">末日締　翌月末日払（年契用）</option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <button type="button" class="btn btn-info ml10">
            <i class="fa fa-save"></i> 反映
          </button>
      </div>
    </div>
</form>
<div class="list" [class.auto-height]="gridOptions.gridAutoHeight" >
    <div class="pager">
      <div>
        <button type="button" class="btn btn-warning" (click)="delete()">
          <i class="fa fa-remove"></i> 削除
        </button>
      </div>
      <div>
        <label>計</label>
        <label>{{money}}</label>
      </div>
      <div>
        <div class="custom-control custom-radio  custom-control-inline " *ngFor="let item of Hakkojokyo; let i = index;">
          <input class="custom-control-input" type="radio" name="Hakkojokyo" id="{{'Hakkojokyo'+i}}"
            [value]="item.Kbn" [checked]="item.ValidFlg==1" (change)="$event.target.checked ? item.ValidFlg = 1 : item.ValidFlg = 0">
          <label class="custom-control-label" for="{{'Hakkojokyo'+i}}">{{item.KbnVal}}</label>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-info">
            <i class="fa fa-plus"></i> 請求金額計算
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="add()">
            <i class="fa fa-plus"></i> 行追加
        </button>
        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 更新
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-arrow-circle-left"></i> 戻る
        </button>
      </div>
      <!-- <app-pagination [gridApi]="gridApi"></app-pagination> -->
    </div>
  
    <ag-grid-angular 
    #agGrid 
    [enableColResize]="true" 
    class="ag-theme-balham" 
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [localeText]="localeText"
    [enableFilter]="true"
    [enableSorting]="true"
    [suppressPaginationPanel]="true"
    [enableRangeSelection]="true"
    >
    </ag-grid-angular>
  
    <!-- <div class="pager">
      <div>
        <button type="button" class="btn btn-info">
            <i class="fa fa-plus"></i> 新規登録
        </button>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> 受注リスト出力
        </button>
      </div>
      <app-pagination [gridApi]="gridApi"></app-pagination>
    </div> -->
  </div>