<form [formGroup]="form" class="card">
  <div class="card-body" [@openClose]="infoAreaOpend ? 'open' : 'closed'">
    <div class="btn-area btn-toolbar justify-content-between">
      <div>          
        <button type="button" class="btn btn-warning">
          <i class="fa fa-remove"></i> 削除
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa fa-arrow-circle-left"></i> 戻る
        </button>
      </div>
      <div>          
        <button type="button" class="btn btn-orengered">
          <i class="fa fa-mail-forward"></i> 申請
        </button>
        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 登録
        </button>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">汎用売上№</div>
      <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" disabled>
          </div>
        </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">計上日</div>
      <div class="form-group width30p">
          <div class="input-group">
            <input type='text' class="form-control width130" appDatetimePicker />
            <span class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
          </div>
        </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">施工先／納品先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="12345">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">施工先１２３４５</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">請求先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="12345">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">請求先１２３４５</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">回収予定日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type='text' class="form-control width130" appDatetimePicker />
          <span class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </span>
        </div>
        </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">回収方法</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="12345">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">銀行振込</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">売上担当者</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="000001">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">担当者００１</div>
      </div>
    </div>
    <div class="form-inline">
        <div class="form-group width7p font-weight-bold">デポ</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" value="001">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="ml-10">デポ００１</div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group width7p font-weight-bold">債権種別</div>
        <div class="form-group width30p">
          <div class="input-group">
              <select class="form-control width130" name="" id="">
                <option value="売掛金">売掛金</option>
                <option value="売掛金(カード決済">売掛金(カード決済</option>
                <option value="未収入金">未収入金</option>
              </select>
          </div>
        </div>
        <div class="form-group width7p font-weight-bold">相手勘定科目</div>
        <div class="form-group width30p">
          <div class="input-group">
              <select class="form-control width130" name="" id="">
                <option value="売掛金">純売上</option>
                <option value="売掛金(カード決済">雑収</option>
              </select>
          </div>
        </div>
    </div>  
  <br>  
    <div class="card">
      <div class="card-title">
        <div class="text-area">明細入力</div>
      </div>
      <div class="pager m-1">
        <div></div>
        <div class="btn-area">        
          <button type="button" class="btn btn-info" (click)="onAddRow()">
            <i class="fa fa-plus"></i> 行追加
          </button>
        </div>
      </div>
    <div [class.auto-height]="gridOptions.gridAutoHeight" >
        <ag-grid-angular 
        #agGrid 
        [enableColResize]="true" 
        class="ag-theme-balham ag-grid-height-200" 
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [rowSelection]="rowSelection"
        [enableFilter]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true" 
        >
        </ag-grid-angular>
        <div class="pager m-1">
          <div class="form-inline">
              <div class="width100 font-weight-bold">合計金額</div>
              <div class="form-group width130">
                <div class="input-group">
                  <input type="text" class="form-control maxwid" value="9999"/>
                </div>
              </div>
          </div>
          <button type="button" class="btn btn-info" (click)="onAddRow()">
            <i class="fa fa-plus"></i> 行追加
          </button>
        </div>
    </div>
    </div>
    <div class="pager m-1">
      <div></div>
      <div class="btn-area">
        <button type="button" class="btn btn-orengered">
          <i class="fa fa-mail-forward"></i> 申請
        </button>
        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 登録
        </button>
      </div>
    </div>
  </div> 
</form>
