<form class="card search-form role-edit">
  <div class="card-title">修改控制角色</div>
  <div class="card-body">
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">角色名称：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <input type="text" class="form-control" value="超级管理员" placeholder="输入如：来宾用户">
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">角色说明：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <textarea name id cols="80" rows="3" style="resize:false">拥有全部权限，网站主要管理人员</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card-title mt-4">权限分配</div>
  <div class="card-body">
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">用户管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="2" checked> 用户列表</label>
          <label><input type="checkbox" value="3" checked> 添加用户</label>
          <label><input type="checkbox" value="4" checked> 修改用户</label>
          <label><input type="checkbox" value="5" checked> 删除用户</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">角色管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="7" checked> 浏览角色</label>
          <label><input type="checkbox" value="8" checked> 添加角色</label>
          <label><input type="checkbox" value="9" checked> 修改角色</label>
          <label><input type="checkbox" value="10" checked> 删除角色</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">权限列表：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="12" checked> 浏览权限</label>
          <label><input type="checkbox" value="13" checked> 添加权限</label>
          <label><input type="checkbox" value="14" checked> 修改权限</label>
          <label><input type="checkbox" value="15" checked> 删除权限</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">系统管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="21" checked> IP封禁管理</label>
          <label><input type="checkbox" value="22" checked> 添加封禁IP</label>
          <label><input type="checkbox" value="23" checked> 删除封禁IP</label>
          <label><input type="checkbox" value="24" checked> 清空缓存</label>
          <label><input type="checkbox" value="25" checked> 模块管理</label>
          <label><input type="checkbox" value="26" checked> 添加模块</label>
          <label><input type="checkbox" value="27" checked> 修改模块</label>
          <label><input type="checkbox" value="28" checked> 删除模块</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">其它权限：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="18" checked> 修改资料</label>
          <label><input type="checkbox" value="19" checked> 登录日志查看</label>
          <label><input type="checkbox" value="20" checked> 删除登录日志</label>
          <label><input type="checkbox" value="82" checked> 操作日志</label>
          <label><input type="checkbox" value="83" checked> 删除操作日志</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">工单管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="87" checked> 工单列表</label>
          <label><input type="checkbox" value="88" checked> 添加工单</label>
          <label><input type="checkbox" value="89" checked> 修改工单</label>
          <label><input type="checkbox" value="90" checked> 删除工单</label>
          <label><input type="checkbox" value="91" checked> 确认工单</label>
          <label><input type="checkbox" value="92" checked> 执行工单</label>
          <label><input type="checkbox" value="93" checked> 完成工单</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">工程师管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="97" checked> 工人管理</label>
          <label><input type="checkbox" value="98" checked> 业务分类</label>
          <label><input type="checkbox" value="103" checked> 工作分类</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="form-group col-2 font-weight-bold">新闻公告管理：</div>
      <div class="form-group col-10">
        <div class="input-group">
          <label><input type="checkbox" value="101" checked> 新闻公告</label>
          <label><input type="checkbox" value="102" checked> 分类管理</label>
        </div>
      </div>
    </div>
  </div>
  <div class="pager mb-3">
    <div></div>
    <div>
      <button type="button" class="btn btn-warning">
        <i class="fa fa-check-square"></i> 提交
      </button>
    </div>
    <div></div>
  </div>
</form>