<form [formGroup]="form" class="search-form">
  <div class="card" [@openClose]="opencontraction ? 'open' : 'closed'">
      
    <div class="form-inline">
      <div class="form-group width8p searchTitle">製品コード</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width200">
        </div>
        <div class="ml-10">を含む</div>
      </div>
    </div>

      <div class="form-inline">
        <div class="form-group width8p searchTitle">製品名</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width200">
          </div>
          <div class="ml-10">を含む</div>
        </div>
      </div>

      

      <div class="form-inline">
        <div class="form-group width8p font-weight-bold">最終発行・改定日</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type='text' class="form-control width120" appDatetimePicker />
            <span class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
            <div class="input-group-prepend">
              <span class="input-group-text input-group-text-none">~</span>
            </div>
            <input type='text' class="form-control width120" appDatetimePicker />
            <span class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group width8p font-weight-bold">確認日</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type='text' class="form-control width120" appDatetimePicker />
            <span class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
            <div class="input-group-prepend">
              <span class="input-group-text input-group-text-none">~</span>
            </div>
            <input type='text' class="form-control width120" appDatetimePicker />
            <span class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group width8p searchTitle">仕入先コード</div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control width130" (input)="supplierCodeChange($event)">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="ml-10">{{supplierCode}}</div>
        </div>
      </div>
  </div>
  <div class="form-inline">
    <div class="btn-area">
        <button type="button" class="btn btn-primary" (click)="searchData()">
          <i class="fa fa-search"></i> 検索
        </button>
        <button type="button" class="btn btn-warning">
          <i class="fa fa-eraser"></i> クリア
        </button>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> Excel出力
        </button>
        <button type="button" class="btn btn-success">
          <img src="./assets/images/icon/download.png" /> SDS一括ダウンロード
        </button>
        <button type="button" class="btn btn btn-secondary" (click)="conditionPanelOpenOrClose()">
          <i class="fa" [class.fa-angle-up]="opencontraction" [class.fa-angle-down]="!opencontraction"></i>
        </button>
    </div>
  </div>
</form>

<div class="list" [class.auto-height]="gridOptions.gridAutoHeight" >

  
  <div class="pager">
    <div>
        <button type="button" class="btn btn-info">
          <i class="fa fa-plus"></i> 新規登録
        </button>
    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
   
    <ag-grid-angular
    #agGrid 
    [enableColResize]="true" 
    class="ag-theme-balham" 
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]="25"
    [localeText]="localeText"
    [enableFilter]="false"
    [enableSorting]="false"
    [suppressPaginationPanel]="true"
    [enableRangeSelection]="true"
    >
    </ag-grid-angular>
   


  <div class="pager alignRight">
    <div></div>
      <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>

</div>

