<form [formGroup]="form" class="search-form">
  <div class="card">
    <div class="form-inline">
        <div class="form-group width8p font-weight-bold ">支払先</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="form-control width130" value="YYY">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="ml-10">{{myvalue3}}</div>
        </div>
    </div>
    <br>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">取引種別</div>
      <div class="form-group width30p">
        <select class="width30p form-control">
          <option *ngFor="let item of items1">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">締日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="99">
        </div>
        <div class="ml-10">日</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">支払日</div>
      <div class="form-group width15p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="1">
        </div>
        <div class="ml-10">ヵ月後</div>
      </div>
      <div class="form-group width15p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="20">
        </div>
        <div class="ml-10">日</div>
      </div>

    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">支払方法</div>
      <div class="form-group width30p">
        <select class="width140 form-control">
          <option *ngFor="let item of items2">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">回収サイト</div>
    </div>
    <div class="form-inline">
      <div class="form-group width1p"></div>
      <div class="form-group width8p font-weight-bold ">サイト計算</div>
      <div class="input-group">
        <div class="custom-control custom-radio  custom-control-inline " *ngFor="let item of ChangeBikoKbnList; let i = index;">
          <input class="custom-control-input" type="radio" name="ChangeBikoKbn" id="{{'ChangeBikoKbn'+i}}" [value]="item.Kbn"
            [checked]="item.ValidFlg==1" (change)="$event.target.checked ? item.ValidFlg = 1 : item.ValidFlg = 0">
          <label class="custom-control-label" for="{{'ChangeBikoKbn'+i}}">{{item.KbnVal}}</label>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width1p"></div>
      <div class="form-group width8p font-weight-bold ">日数</div>
      <div class="form-group width15p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="20">
        </div>
        <div class="ml-10">日</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width1p"></div>
      <div class="form-group width8p font-weight-bold ">日数＋月数</div>
      <div class="form-group width15p">
        <div class="input-group">
          <input type="text" class="form-control width130" readOnly>
        </div>
        <div class="ml-10">ヵ月後</div>
      </div>
      <div class="form-group width15p">
        <div class="input-group">
          <input type="text" class="form-control width130" readOnly>
        </div>
        <div class="ml-10">日</div>
      </div>
    </div>
    <br>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">銀行コード</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="1">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">{{myvalue1}}</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">支店コード</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" value="68">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">{{myvalue2}}</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">口座種別</div>
      <div class="form-group width30p">
        <select class="width30p form-control">
          <option *ngFor="let item of items3">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">口座番号</div>
      <div class="form-group width30p">
        <div class="input-group"></div>
        <input type="text" class="form-control width130" value="0034567">
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">口座名義人</div>
      <div class="form-group width30p">
        <div class="input-group"></div>
        <input type="text" class="form-control width71p" value="テスト名義人">
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width8p font-weight-bold ">口座名義人カナ</div>
      <div class="form-group width30p">
        <div class="input-group"></div>
        <input type="text" class="form-control width71p" value="ﾃｽﾄﾒｲｷﾞﾆﾝ">
      </div>
    </div>
    <br>

    <div class="btn-area">
      <button type="button" class="btn btn-info">
        <i class="fa fa-copy"></i> 行複写
      </button>
      <button type="button" class="btn btn-info"  (click)="onAddRow()">
        <i class="fa fa-plus"></i> 行追加
      </button>
      <button type="button" class="btn btn-info">
        <i class="fa fa-save"></i> 行編集
      </button>
      <button type="button" class="btn btn-warning" (click)="onRemoveSelected()">
        <i class="fa fa-remove"></i> 行削除
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fa fa-arrow-circle-right"></i> 設定
      </button>
      <button type="button" class="btn btn-warning">
        <i class="fa fa-window-close"></i> 閉じる
      </button>
    </div>
    <br> 
    <div [class.auto-height]="gridOptions.gridAutoHeight" >
        <ag-grid-angular 
        #agGrid 
        [enableColResize]="true" 
        class="ag-theme-balham ag-grid-height-200" 
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        [pagination]="true"
        [paginationPageSize]="25"
        [localeText]="localeText"
        [enableFilter]="true"
        [suppressPaginationPanel]="true"
        [enableRangeSelection]="true" >
       </ag-grid-angular>
    </div>
  </div>
</form>