
  .width8p{
    width: 8%;
  }
  .width30p{
    width: 30%;
  }
  .width120 {
    width: 9rem;
  }
  .width130 {
    width: 10rem;
  }
  .width71p {
    width: 71%;
  }
  .width26 {
    width: 26%;
  }
  .width60p {
    width: 60%;
  }
  .width12p{
    width: 12%;
  }
  .width140 {
    width: 16rem;
  }
  .width15p{
    width: 15%;
  }
  .width1p{
    width: 1.8%;
  }
