<form class="card search-form">
  <div class="card-title">普通用户列表</div>
  <div class="card-body">
    <div class="list">
      <ag-grid-angular #agGrid [enableColResize]="true" class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [pagination]="true" [paginationPageSize]="25" [localeText]="localeText" [enableFilter]="true"
        [suppressPaginationPanel]="true" [enableRangeSelection]="true">
      </ag-grid-angular>
      <div class="pager">
        <div>
        </div>
        <app-pagination [gridApi]="gridApi"></app-pagination>
      </div>
    </div>
  </div>
</form>