<div class="content">
  <div class="search-form">
    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">契約区分</div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn1">
            <label class="custom-control-label" for="OrderPurposeKbn1">すべて</label>
          </div>
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn2">
            <label class="custom-control-label" for="OrderPurposeKbn2">年契</label>
          </div>
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn3">
            <label class="custom-control-label" for="OrderPurposeKbn3">スポット</label>
          </div>
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">種類</div>
      <div class="form-group width30p">
        <div class="input-group">
          <select class="width120">
            <option>契約書</option>
          </select>
        </div>
      </div>

      <div class="form-group searchTitle font-weight-bold width240">電子契約書アップロード</div>
      <div class="form-group">
        <div class="input-group">
          <select class="width88">
            <option>未</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">契約番号</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" value="123456" class="width80">
          <label class="width20">-</label>
          <input type="text" class="width80">
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">支店</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="width95">
        </div>
        <div class="input-group-prepend">
          <button type="button" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">施工先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="width95">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">デポ</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="width95">
          </div>
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">請求先</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="width95">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">チーム</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="width95">
          </div>
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">代行店</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="width95">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">技術営業担当者</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="width95">
          </div>
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">回収予定日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="width95">
          <label class="width20">~</label>
          <input type="text" class="width95">
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">電子契約サービス対応</div>
        <div class="form-group width30p">
          <div class="input-group">
            <div class="custom-control custom-radio  custom-control-inline">
              <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn1">
              <label class="custom-control-label" for="OrderPurposeKbn1">すべて</label>
            </div>
            <div class="custom-control custom-radio  custom-control-inline">
              <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn2">
              <label class="custom-control-label" for="OrderPurposeKbn2">年契</label>
            </div>
          </div>
        </div>
    </div>

    <div class="form-inline">
      <div class="form-group width8p searchTitle font-weight-bold">回収状況</div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn1">
            <label class="custom-control-label" for="OrderPurposeKbn1">未回収</label>
          </div>
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn2">
            <label class="custom-control-label" for="OrderPurposeKbn2">回収済</label>
          </div>
          <div class="custom-control custom-radio  custom-control-inline">
            <input class="custom-control-input" type="radio" name="OrderPurposeKbn" id="OrderPurposeKbn3">
            <label class="custom-control-label" for="OrderPurposeKbn3">すべて</label>
          </div>
        </div>
      </div>

      <div class="form-group width11p searchTitle font-weight-bold">回収基準日</div>
        <div class="form-group width30p">
          <div class="input-group">
            <input type="text" class="width120">
          </div>
        </div>

      <div class="form-group searchTitle font-weight-bold width240">請求書発行日</div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="width120">
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="btn-area">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i> 検索
        </button>

        <button type="button" class="btn btn-warning">
          <i class="fa fa-eraser"></i> クリア
        </button>

        <button type="button" class="btn btn-success">
            <img src="./assets/images/icon/download.png" /> Excel出力
        </button>
        
        <button type="button" class="btn btn-success">
            <img src="./assets/images/icon/download.png" /> サンプル出力
        </button>

        <button type="button" class="btn btn-success">
            <img src="./assets/images/icon/download.png" /> PDF出力
        </button>
      </div>
    </div>

    <div class="form-inline">
      <div class="pager">
        <div>
        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 電子契約サービス連携
        </button>

        <button type="button" class="btn btn-info">
          <i class="fa fa-save"></i> 自動FAX送信
        </button>

        <button type="button" class="btn btn-info">
            <i class="fa fa-save"></i> 登録
        </button>
       </div>
      </div>
    </div>
        <div>
          <ag-grid-angular
            #agGrid
            [enableColResize]="true"
            class="ag-theme-balham ag-grid-height-400"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            [pagination]="true"
            [paginationPageSize]="25"
            [localeText]="localeText"
            [enableFilter]="true"
            [enableSorting]="true"
            [suppressPaginationPanel]="true"
            [enableRangeSelection]="true"
          >
          </ag-grid-angular>
        </div>
  </div>
</div>

