<form class="search-form">
  <div class="card" [@openClose]="searchFormOpend ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">検索基準日</div>
      <div class="form-group width30p">
        <input type="text" class="form-control width120">
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">会社コード</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width120">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="ml-10">COM01</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">会社名</div>
      <div class="form-group width30p">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control maxwid" />
          </div>
        </div>
        <div class="ml-10">を含む</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">会社カナ</div>
      <div class="form-group width30p">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control maxwid" />
          </div>
        </div>
        <div class="ml-10">を含む</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">会社グループ</div>
      <div class="form-group width30p">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control maxwid" />
          </div>
        </div>
        <div class="ml-10">を含む</div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">会社カテゴリ</div>
      <div class="form-group width30p">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control maxwid" />
          </div>
        </div>
        <div class="ml-10">を含む</div>
      </div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-checkbox  custom-control-inline">
            <input class="custom-control-input" type="checkbox" name="IncludProhibitedbn" id="IncludProhibitedbn1">
            <label class="custom-control-label" for="IncludProhibitedbn1">利用禁止を含む</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold"></div>
      <div class="form-group width30p"></div>
      <div class="form-group width30p">
        <div class="input-group">
          <div class="custom-control custom-checkbox  custom-control-inline">
            <input class="custom-control-input" type="checkbox" name="IncludDeleteCompletedbn" id="IncludDeleteCompletedbnbn1">
            <label class="custom-control-label" for="IncludDeleteCompletedbnbn1">削除済を含む</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="btn-area">
      <button type="button" class="btn btn-primary" (click)="searchData()">
        <i class="fa fa-search"></i> 検索
      </button>
      <button type="button" class="btn btn-warning">
        <i class="fa fa-eraser"></i> クリア
      </button>
      <button type="button" class="btn btn btn-secondary" (click)="changeSearchForm()">
        <i class="fa" [class.fa-angle-up]="searchFormOpend" [class.fa-angle-down]="!searchFormOpend"></i>
      </button>
    </div>
  </div>
</form>
<div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
  <div class="pager">
    <div></div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
  <ag-grid-angular #agGrid [enableColResize]="true" class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    [pagination]="true" [paginationPageSize]="25" [localeText]="localeText" [enableFilter]="false" [enableSorting]="false"
    [suppressPaginationPanel]="true" [enableRangeSelection]="true">
  </ag-grid-angular>
  <div class="pager">
    <div></div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
</div>