<form [formGroup]="form" class="search-form">
  <div class="card" [@openClose]="opencontraction ? 'open' : 'closed'">
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-arrow-circle-left"></i> 戻る
        </button>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group width7p font-weight-bold">紹介元</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" readonly value="○○商事">
        </div>
      </div>

      <div class="form-group width8p font-weight-bold">紹介元管轄支店</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" readonly value="東京支店">
        </div>
      </div>

    </div>
    <div class="form-inline">
      <div class="form-group width7p  font-weight-bold">支払日</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" readonly value="2018/04/30">
        </div>
      </div>

      <div class="form-group width8p font-weight-bold">売上デポ</div>
      <div class="form-group width30p">
        <div class="input-group">
          <input type="text" class="form-control width130" readonly value="">
        </div>
      </div>


    </div>
  </div>
</form>

<div class="list" [class.auto-height]="gridOptions.gridAutoHeight">
  <div class="pager">
    <div>

    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
  <ag-grid-angular #agGrid [enableColResize]="true" class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    [pagination]="true" [paginationPageSize]="25" [localeText]="localeText" [enableFilter]="false" [enableSorting]="false"
    [suppressPaginationPanel]="true" [enableRangeSelection]="true">
  </ag-grid-angular>
  <div class="pager">
    <div>

    </div>
    <app-pagination [gridApi]="gridApi"></app-pagination>
  </div>
</div>